<div class="container" id="onlineres-container">
	<div class="header-nav-tips">
		<span ui-sref="prepare">{{currentTreeNode.label}} <i class="icon-angle-right"></i></span>
		<span>{{prepare.title}}</span>
	</div>
	<div class="col-md-10 slide-container">
		<div class="slide-content">
			<div class="slide-arrow slide-pre" ng-click="slidePre()"><i class="icon-chevron-left"></i></div>
			<div class="slide-arrow slide-next" ng-click="slideNext()"><i class="icon-chevron-right"></i></div>
			<div class="slide-content-inner">
				<div id="res-slide-content"></div>
			</div>
		</div>
		<div class="slide-fullscreen" ng-click="toggleFullscreen()">全屏查看 <i class="icon-fullscreen"></i></div>
		<div class="slide-tools" ng-show="VM.slideTools">
			<div class="slide-arrow2 slide-pre" ng-click="slidePreCustom()"><i class="icon-chevron-left"></i></div>
			<div class="slide-arrow2 slide-next" ng-click="slideNextCustom()"><i class="icon-chevron-right"></i></div>
			<ul class="slide-thumbnail">
				<li ng-repeat="item in slidesCustom" class="slidesCustom" ng-click="selectRes($index)"  title="{{item.title}}"> 
					<div class="img-thumb-list">
						<img ng-src="{{ item.imgPath? item.imgPath:'null'}}" fallback-src="{{item.fileSuffix | lowercase}}" ng-click="getResPlayUrl($index, item.resId, item.fromFlag)"/>
					</div>
					<span class="slide-title text-ellipsis">{{item.title}}</span>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="col-md-2">
		<div class="slide_head">推荐资源：</div>
		<div class="slide-list">
			<div class="slide-list-item" ng-repeat="item in slides track by $index"  title="{{item.title}}">
				<div class="img-box" ng-class="curImg[$index]?'line':''">
					<img ng-src="{{ item.imgPath? item.imgPath:'null'}}" fallback-src="{{item.fileSuffix | lowercase}}" ng-click="getResPlayUrl($index, item.resId,item.fromFlag)">
				</div>
				<span class="slide-rigth-title text-ellipsis">{{item.title}}</span>
			</div>
		</div>
	</div>
</div>