<div id="footer">
	<table class="ng-scope" style="width:70%;border:0;margin-left:260px;">
		<tr>
			<td style="text-align:left; width:20%">
				<p style="text-align:left; margin-left:10px;">中新金桥 北京（Beijing HQ）</p>
			</td>
			<td style="text-align:left; width:20%">
				<p style="text-align:left; margin-left:-20px;">知好乐教育科技集团有限公司</p>
			</td>
			<td style="text-align:left; width:30%">
				<p style="text-align:left; margin-left:-40px;">联系电话：(010) 82783029 / 82784500 / 82783012</p>
			</td>
			<td style="text-align:left; width:30%">
				<p style="text-align:left; margin-left:-20px;">地址：北京市海淀区西三旗建材城西路31号B座四层西区</p>
			</td>
		</tr>
		<tr>
			<td rowspan='3' style="text-align:left; width:20%">
				<p style="text-align:left; margin-left:5px;">
					<!-- <img src="./image/zx_logo.png" /> -->
					<img ui-sref="systemres" class="logo" src="assets/img/zx_logo.png" />
				</p>
			</td>
			<td rowspan='3' style="text-align:left; width:20%">
				<!-- <p style="text-align:left"><img src="./image/tfedu_logo.png" /></p> -->
				<p style="text-align:left; margin-left:-30px;">
					<img ui-sref="systemres" class="logo" src="assets/img/tfedu_logo.png" />
				</p>
			</td>
			<td style="text-align:left; width:30%">
				<p style="text-align:left; margin-left:-40px;">公司传真：(010) 82781332</p>
			</td>
			<td style="text-align:left; width:30%">
				<p style="text-align:left; margin-left:-20px;">客服热线：(010) 82783029/835/845/844</p>
			</td>
		</tr>
		<tr>
			<td style="text-align:left; width:30%">
				<p style="text-align:left; margin-left:-40px;">公司邮箱：sales@kingchannels.com</p>
			</td>
			<td style="text-align:left; width:30%">
				<p style="text-align:left; margin-left:-20px;">客服邮箱：kefu@kingchannels.com</p>
			</td>
		</tr>
		<tr>
			<td style="text-align:left; width:30%">
				<p style="text-align:left; margin-left:-40px;">公司网址：www.kingchannels.com</p>
			</td>
			<td style="text-align:left; width:30%">
				<p style="text-align:left; margin-left:-20px;">&nbsp;&nbsp;&nbsp;&nbsp;</p>
			</td>
		</tr>
	</table>
	<table width="100%" border="0">
		<tr colspan='4' style="text-align:left">
			<p style="text-align:left">&nbsp;&nbsp;&nbsp;&nbsp;</p>
		</tr>
		<tr>
			<td style="text-align:left; width:25%">
				<p style="text-align:left">&nbsp;&nbsp;&nbsp;&nbsp;</p>
			</td>
			<td colspan='2' style="text-align:center; width:50%">
				<p style="text-align:center">Copyright<sup>©</sup>2005-2015，All Rights Reserved
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					京ICP备 10003979</p>
			</td>
			<td style="text-align:left; width:25%">
				<p style="text-align:left">&nbsp;&nbsp;&nbsp;&nbsp;</p>
			</td>
		</tr>
	</table>


	<!-- <p>电话：400-699-8396　传真：010-68434907　QQ：924305138，1335547592（服务时间：每天8:30-17:30）　邮箱：kefu@tfedu.net</p>

	<p>地址：北京市海淀区王庄路1号清华同方科技广场A座17层　邮编：100084</p>

	<p>Copyright©2005-2015，All Rights Reserved　版权所有：同方知好乐教育科技（北京）有限公司</p>

	<p>京ICP备 10003979</p> -->

	<div class="ctrl-tools">
		<span class="ctrl-item" ui-sref="systemres">
			<i class="icon-home"></i>
			<span class="text-tips">返回<br>主页</span>
		</span>
		<span class="ctrl-item" ng-click="goToTop()">
			<i class="icon-arrow-up"></i>
			<span class="text-tips">返回<br>顶端</span>
		</span>
	</div>
</div>