<div class="container" id="preview-container">
	<div class="header-nav-tips">
		<span>基础资源<i class="icon-angle-right"></i></span>
		<span>高中语文<i class="icon-angle-right"></i></span>
		<span>荷塘月色<i class="icon-angle-right"></i></span>
	</div>
	<div class="slide-container col-md-10">
		<div class="slide-content">
			<div class="slide-arrow slide-pre" ng-click="slidePre()"><i class="icon-chevron-left"></i></div>
			<div class="slide-arrow slide-next" ng-click="slideNext()"><i class="icon-chevron-right"></i></div>
			<div class="slide-content-inner">
				<div id="res-slide-content"></div>
			</div>
			<div class="slide-fullscreen" ng-click="toggleFullscreen()"><i class="icon-fullscreen"></i></div>
		</div>
		
		<div class="slide-tools" ng-show="VM.slideTools">
			<div class="slide-arrow2 slide-pre" ng-click="slidePreCustom()"><i class="icon-chevron-left"></i></div>
			<div class="slide-arrow2 slide-next"  ng-click="slideNextCustom()"><i class="icon-chevron-right"></i></div>
			<ul class="slide-thumbnail">
				<li ng-repeat="item in slidesCustom" ng-click="selectRes($index)">
					<img src="assets/img/online/tmp.png"/>
					
					<span>{{item.title}}</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-2">
		<div class="slide-list">
			<div class="slide-list-item" ng-repeat="item in slides">
				<img src="assets/img/title.jpg">
				<span>{{item.title}}</span>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="banner-footer banner-footer-preview">
		<div class="banner-footer-header"></div>
		<div class="banner-footer-footer"></div>
	</div>
	
	<!-- 资源简介 -->
	<div class="preview-content">
		<div class="res-intro">
			<div class="intro-banner">资源简介</div>
			<div class="intro-info">
				<span class="intro-title">《荷塘月色》教案2</span>
				<span class="intro-type">类型：课件</span>
				<span class="intro-size">大小：620KB</span>
			</div>
			<div class="intro-details">资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介</div>
		</div>
		
		<div class="res-conmment">
			<div class="create-comment">
				<div class="comment-info">
					<span class="comment-user">用户名：张XXX</span>
					<span class="comment-count">已有100人评价</span>
					<span class="comment-star">0.0 <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span>
					
				</div>
				<textarea></textarea>
				<div class="comment-text">200/200</div>
				<button class="btn btn-success">发表</button>
			</div>
			
			<div class="conment-list">
				<div class="comment-type">
					<span class="other-comment">他人评论</span>
					<span class="my-comment comment-active">我的评论</span>
				</div>
				<div class="coment-item">
					<div class="item-user-date">
						<span item-user>李XXX</span>
						<span item-date>2016-04-03 12:00</span>
					</div>
					<div class="item-content">好好好好好好好好好好好好好好!</div>
				</div>
				<div class="coment-item">
					<div class="item-user-date">
						<span item-user>李XXX</span>
						<span item-date>2016-04-03 12:00</span>
					</div>
					<div class="item-content">好好好好好好好好好好好好好好!</div>
				</div>
				<div class="coment-item">
					<div class="item-user-date">
						<span item-user>李XXX</span>
						<span item-date>2016-04-03 12:00</span>
					</div>
					<div class="item-content">好好好好好好好好好好好好好好!</div>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		
		
	</div>
</div>
