<div class="container" id="preview-container">

	<div class="header-nav-tips">
		<div class="nav_left">
			<span ng-repeat="navCur in currentNav">{{navCur.name}}<i class="icon-angle-right"></i></span>
		</div>
		<div class="nav_right">
		  <span class="mulu">其他版本目录
			<div class="popBox">
				<ul>
					<li ng-repeat="navs in navList" ng-class="VM.curNav[$index]?'selected':''" ng-click="selectNav($index)">
						<span ng-repeat="nav in navs">{{nav.name}}<i class="icon-angle-right"></i></span>
					</li>
				</ul>
		    </div>
		  </span>
	  </div>
	</div>
	<div class="slide-container col-md-10">
		<div class="slide-content">
			<div class="slide-arrow slide-pre" ng-click="slidePre()"><i class="icon-chevron-left"></i></div>
			<div class="slide-arrow slide-next" ng-click="slideNext()"><i class="icon-chevron-right"></i></div>
			<div class="slide-content-inner">
				<div id="res-slide-content"></div>
			</div>
			<div class="slide-fullscreen" ng-click="toggleFullscreen()"><i class="icon-fullscreen"></i></div>
		</div>
	
		<!--<div class="slide-tools" ng-show="VM.slideTools">
			<div class="slide-arrow2 slide-pre" ng-click="slidePreCustom()"><i class="icon-chevron-left"></i></div>
			<div class="slide-arrow2 slide-next" ng-click="slideNextCustom()"><i class="icon-chevron-right"></i></div>
			<ul class="slide-thumbnail">
				<li ng-repeat="item in slidesCustom" ng-click="selectRes($index)">
					<img src="assets/img/online/tmp.png" />
					<span>{{item.title}}</span>
				</li>
			</ul>
		</div>-->
	</div>
	<div class="col-md-2">
		<div class="slide_head">类型：<span class="type_box"><span>{{typeName}}</span><i class="icon-angle-down"></i></span>
			<div class="pop-type-box">
				<div class="pop-type">
					<ul>
						<li ng-repeat="type in sourceType" ng-click="selectType(type.id,$index)" ng-class="typeLight[$index]?'selected':''" >{{type.mtype}}</li>
					</ul>
				</div>
			</div>
			
			
			
		</div>
		<div class="slide-list">
			
			<div class="slide-list-item" ng-repeat="item in allSourceList" ng-click="slideChange(item.id,$index)">
				<img src="{{item.thumbnailpath}}" ng-class="curImg[$index]?'line':''">
				<span>{{item.title}}_{{item.mtype}}</span>
			</div>
			<div class="more" ng-click="getAllSourceMore()">加载更多</div>
		</div>
		
	</div>
	<div class="clearfix"></div>
	<div class="banner-footer banner-footer-preview">
		<div class="banner-footer-header"></div>
		<div class="banner-footer-footer"></div>
	</div>

<!-- 资源简介 -->
	<div class="preview-content">
		<div class="res-intro">
			<div class="intro-banner">资源简介</div>
			<div class="intro-info">
				<span class="intro-title">《{{info.title}}》</span>
				<span class="intro-type">类型：{{info.mtype}}</span>
				<span class="intro-size">大小：{{info.fSize/1024 | number:0}}KB</span>
			</div>
			<div class="intro-details">{{info.des}}</div>
		</div>
	
		<div class="res-conmment">
			<div class="create-comment">
				<div class="comment-info">
					<span class="comment-user">用户名：{{userName}}</span>
					
	
				</div>
				<textarea ng-change="changeComment()" ng-model="inputComment"></textarea>
				<span class="comment-text"><span class="shen">{{commentNum}}</span>/200</span>
				<button class="btn btn-success publish" ng-click="publishComment()">发表</button>
			</div>
	
			<div class="conment-list">
				<div class="comment-type">
					<span class="other-comment" ng-click="changeBlock('other')" ng-class="otherShow?'comment-active':''">他人评论</span>
					<span class="my-comment " ng-click="changeBlock('my')" ng-class="myShow?'comment-active':''">我的评论</span>
				</div>
				<div class="my" ng-show="myShow">
					<div class="coment-item " ng-repeat="comment in myCommentList">
						<div class="item-user-date">
							<span item-user>{{comment.userName}}</span>
							<show-time item-date data-value="{{comment.atime | date:'yyyy-MM-dd HH:mm:ss'}}"></show-time>
						</div>
						<div class="item-content" contenteditable="false">{{comment.acontent}}</div>
						<div class="editBox">
							<button class="btn btn-danger" ng-click="editCom(comment.id,comment.acontent)">编辑</button>
							<button class="btn btn-danger" ng-click="deleteCom(comment.id)">删除</button>
						</div>
					</div>
				</div>
				<div class="other" ng-show="otherShow">
					<div class="coment-item " ng-repeat="comment in otherCommentList">
						<div class="item-user-date">
							<span item-user>{{comment.userName}}</span>
							<show-time item-date data-value="{{comment.atime | date:'yyyy-MM-dd HH:mm:ss'}}"></show-time>
						</div>
						<div class="item-content">{{comment.acontent}}</div>
	
					</div>
				</div>
	
			</div>
		</div>
	
	</div>
<!-- 模态框（Modal） -->
	<div class="modal fade" id="editModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	                  &times;
	            </button>
					<h4 class="modal-title" id="myModalLabel">
	              	修改评论
	            </h4>
				</div>
				<div class="modal-body">
					<textarea id="editContent" ng-model="editInputComment"></textarea>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="offModal()">取消
	            </button>
					<button type="button" class="btn btn-primary" ng-click="editSure()">
	              	确定
	            </button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
	<div class="bottom-fixed">
		<div class="fix-inner">
			<span class="comment-star">
				<i class="icon-star"></i>
				<i class="icon-star"></i>
				<i class="icon-star"></i>
				<i class="icon-star"></i>
				<i class="icon-star"></i>
			</span>
			<span class="comment-count">已有{{info.userNum}}人评分,平均分：{{info.avgScore}}</span>
			<span>下载次数:{{$scope.info.downLoadTimes}}</span>
			<span>浏览次数:{{$scope.info.clickTimes}}</span>
			
			<button class="btn btn-danger">加入备课夹</button>
			<span class="down-orign">下载到本地</span>
			
		</div>
	</div>
</div>
