<div class="empty-nav">
</div>
<div class="container" id="search-container">
	<div class="search_tools">
		<div class="search_tools_inner">
			<div class="select-nav-item">
				<div class="menu-drop">
					<div class="trigger">
						<span class="select-current">{{VM.currentArea}}</span>
						<i class="icon-angle-down"></i>
						<i class="icon-angle-up"></i>
					</div>

					<div class="menu-drop-main">
						<ul class="menu-drop-list">
							<li ng-repeat="area in VM.searchArea track by $index" ng-class="VM.currentAreaSelect[$index]?'selected':''" ng-click="VM.selectArea($index)"><span>{{ area.area }}</span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="search_box">
				<input type="text" placeholder="请输入搜索内容" class="search_text"  ng-model="searchKeyWord"/><span class="search_btn" ng-click="changeKeyWord()">搜索</span>
			</div>
			<ul class="search_list">
				<li ng-repeat="typeNum in VM.typeNums track by $index" ng-class="VM.currentTypeNum[$index]?'selected':''" ng-click="VM.typeClick($index)">{{typeNum}}</li>

			</ul>
		</div>

	</div>

	<div class="list_box">
		<div class="res-list-main">
			<ul class="res-ul-list">
				<div class="loading" ng-show="isLoading"><i class="icon-spinner icon-spin icon-3x"></i></div>
				<div class="noInfo" ng-show="showNoInfo">
					没有您搜索的资源哦~
				</div>
				<li class="res-list-item" ng-repeat="source in sourceList track by $index" >
						<input id="{{$index}}" class="res-checkbox" checklist-model="resList.select"  checklist-value="source.id"  type="checkbox" ng-click="addItemSelect(source.fromFlag,$index)" />
						<label for="{{$index}}"></label>
					<a class="img-thumb-list" ui-sref="previewres({resId:source.id,curTfcode:'',fromFlag:VM.currentFromFlag,search:'search'})" target="_blank">
						<img class="res-list-thumb" ng-src="{{source.thumbnailpath?source.thumbnailpath:'null'}}" fallback-src="{{source.fileExt | lowercase}}">
					</a>
					<span class="res-list-info" >
						<a class="res-title text-ellipsis" ui-sref="previewres({resId:source.id,curTfcode:'',fromFlag:VM.currentFromFlag,search:'search'})"  target="_blank">{{source.title}}</a>
						<label class="res-type">类型: {{source.mtype}}</label>
						<label class="res-size">大小：{{source.fsize/1024/1024 | number:2}}M</label>
						
						<span class="star_box">
							<label class="res-star">
								<i class="icon-star star-active" ng-repeat="star in source.starNum" ></i>
								
							</label>
							<label class="res-number">{{source.clickTimes}}浏览/{{source.dloadTimes}}下载</label>
						</span>
					</span>
					<span class="res-list-tools">
					<label class="res-download" ng-click="resDownload(source.id,source.fromFlag,$index)"><i class="icon-download-alt"></i>点击下载</label>
				</span>
				</li>

			</ul>
		</div>
		<div class="sumBox">
			<input id="test" class="allCheck" type="checkbox" ng-model="VM.checkAll" ng-click="checkAll()" /> 本页全选
			<label for="test"></label>
			<!--<input type="checkbox" ng-checked="allCheck" ng-model="allCheck" class="allCheck" ng-checked="allCheck">本页全选-->
			<span ><span class="all">共{{listLength}}条，每页显示</span><input type="text" value="10"  ng-change="changePerPage()" ng-model="inputPerPage"/></span>条
			<label class="res-download allDown" ng-click="downLoadSelect()"><i class="icon-download-alt"></i>打包下载</label>
		</div>
		<div class="pageBox">
			<div class="coms-pagination">
				<uib-pagination items-per-page="perPage"  total-items="bigTotalItems" ng-change="changePage()" ng-model="bigCurrentPage" max-size="maxSize" boundary-link-numbers="true" previous-text="上一页" next-text="下一页"></uib-pagination>
				<div class="page-go">
					<span class="page-text">转到</span>
					<input class="page-input" ng-model="pageTo" />
					<span class="page-go-btn" ng-click="pageChanged(pageTo)">Go</span>
				</div>
			</div>
		</div>
	</div>

</div>