<div class="cen-right-down">
	<div class="comment-head">
		<span class="my-comment">我的评论</span>
		<div class="comType">
			<span ng-repeat="state in commentState" ng-click="selectState(state.state,$index)" ng-class="curState[$index]?'cur-state':''">{{state.name}}{{VM.stateNum[$index]}}</span>
		</div>
		<div class="grade" ng-show="btnShow">
			<span ng-repeat="grades in gradeList">
				<input type="radio" name="grade"  ng-checked="isChecked[$index]" value="grades.type" ng-click="selectGrade(grades.type)"/>
				<label>{{grades.name}}</label>
			</span>
			
		</div>
	</div>
	<div class="resource-box">
		<div class="resource-list com-list">
		 <div class="loading" ng-show="isLoading"><i class="icon-spinner icon-spin icon-3x"></i></div>

			<ul class="row">
				<li ng-repeat="list in VM.commentList" class="comment-list">
					<div class="col-md-12 col-sm-12">
						<div class="col-md-3 col-sm-3">
							<div class="img-thumb-list">
								<img class="person-thumb" ng-src="{{ list.imgPath?list.imgPath:'null'}}" fallback-src="{{list.fileSuffix | lowercase}}" ui-sref="previewres({resId:list.resId,curTfcode:'',fromFlag:list.fromFlag,search:'person',type:'0', back:'comment'})"/>
							</div>
							<span class="resource-title text-ellipsis" >{{list.title}}</span>
						</div>
						<div class="col-md-9 col-sm-9">
							<span class="name">{{user.userName}}</span>
							<show-time class="resource-date" data-value="{{list.time | date:'yyyy-MM-dd HH:mm:ss'}}"></show-time>
							
							<div class="com-content">
								{{list.content}}
							</div>
						</div>
						<div class="edit">
							<button class="btn btn-success" ng-click="deleteCom(list.id,$index)" ng-show="btnShow">删除</button>
							<button class="btn btn-success" ui-sref="previewres({resId:list.resId,curTfcode:'',fromFlag:list.fromFlag,search:'person',type:'0'})" ng-hide="btnShow">评价</button>
						</div>
						
					
					</div>
					<div class="clearfix"></div>
				</li>

			</ul>
		</div>
		<div class="pagination-box">
			<div class="coms-pagination">
				<uib-pagination total-items="bigTotalItems" ng-model="VM.bigCurrentPage" ng-change="changePage()" max-size="maxSize" boundary-link-numbers="true" previous-text="上一页" next-text="下一页"></uib-pagination>
				<div class="page-go">
					<span class="page-text">转到</span>
					<input class="page-input" ng-model="pageTo"/>
					<span class="page-go-btn" ng-click="pageChanged(pageTo)">Go</span>
				</div>
			</div>
		</div>
	</div>
</div>