<div class="cen-right-down">
	<h3 class="cen-h2">资源引用列表</h3>
	<div class="type-select-box">
	  	<div class="select-nav-item">
			<div class="menu-drop">
				<div class="trigger">
					<span class="select-current" href="" ng-bind="VM.resType"></span>
					<i class="icon-angle-down"></i>
					<i class="icon-angle-up"></i>
				</div>
				
				<div class="menu-drop-main">
					<ul class="menu-drop-list">
						<li ng-repeat="tp in resTypes" ng-click="selectResType(tp)"><span ng-bind="tp.mtype"></span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="resource-box">
		<div class="box-title">
			<div class="row">
				<div class="col-md-7 col-sm-7">
					资源名称
				</div>
				<div class="col-md-2 col-sm-2">
					资源类型
				</div>
				<div class="col-md-3 col-sm-3">
					资源日期
				</div>
			</div>
		</div>
		<div class="resource-list" class="col-md-9">
			<ul class="row">
				<li ng-repeat="res in prepareList track by $index" ng-class="{active: res.active}" ng-click="setResActive($index)">
				<!-- <li class="active"> -->
					<a class="col-md-7 col-sm-7" ui-sref="previewres({resId:res.resId,curTfcode:'',fromFlag:res.fromFlag,search:'person',type:'0', back: 'prepare'})" target="_blank">
						<div class="img-thumb-list">
							<img class="res-list-thumb" ng-src="{{res.imgPath?res.imgPath:'null'}}" fallback-src="{{res.fileSuffix | lowercase}}"/>
						</div>
						<span class="resource-title" ng-bind="res.title" title="{{res.title}}"></span>
					</a>
					<div class="col-md-2 col-sm-2">
						<span class="resource-type" ng-bind="res.unifyType"></span>
					</div>
					<div class="col-md-3 col-sm-3">
						<span class="resource-date"><show-time item-date data-value="{{res.time | date:'yyyy-MM-dd HH:mm:ss'}}"></show-time></span>
					</div>

				</li>
			</ul>
		</div>
		<div class="set-per-page">
			<span class="res-text-total"><i>共</i><i>{{totalItems}}</i><i>条，</i></span>
				<span class="res-text-perpage"> 每页显示<input type="text" ng-model="VM.perPage" ng-blur="changPerPage()"/>条</span>
		</div>
		<div class="pagination-box">
			<div class="coms-pagination">
			 	<uib-pagination total-items="totalItems"  ng-model="VM.currentPage" max-size="maxSize"  boundary-link-numbers="true" previous-text="上一页" next-text="下一页" num-pages="VM.perPage" ng-change="pageChanged()"></uib-pagination>
				<div class="page-go">
					<span class="page-text">转到</span>
					<input class="page-input" ng-model="pageTo"/>
					<span class="page-go-btn" ng-click="pageChanged(pageTo)">Go</span>
				</div>
			</div>
		</div>
	</div>
</div>