<!-- 编辑上传资源模态框 -->
<div ng-controller="editUploadResCtrl">
<script type="text/ng-template" id="edit.html">
<div class="edit-res-modal">
	<div class="modal-header">
		<h5>编辑资源</h5>
	</div>
    <div class="modal-body">
    	<p>为方便资源的管理，请填写完整的资源信息</p>
    	<div class="edit-detail-box">
    		<div class="edit-list">
    			<span class="red-tip">*</span>
    			<span class="sp-label">资源名称</span>
    			<input type="text" ng-model="res.title" />
    			<button class="btn-op" ng-click="setResTitle(res.title)">确定</button>
    		</div>
    		<div class="edit-list">
    			<span class="red-tip">*</span>
    			<span class="sp-label">资源类型</span>
    			<span class="tag active" ng-bind="res.unifyType"></span>
    		</div>
    		<div class="edit-list">
    			<div class="edit-list-left">
    				<span class="red-tip">*</span>
    				<span class="sp-label">上传至：</span>
    			</div>
    			<div class="edit-list-right">
    				<div class="select-loc-box">
		    			<div class="select-nav-item">
							<div class="menu-drop">
								<div class="trigger">
									<span class="select-current" href="" ng-bind="VM.currentGrade"></span>
									<i class="icon-angle-down"></i>
									<i class="icon-angle-up"></i>
								</div>
								
								<div class="menu-drop-main">
									<ul class="menu-drop-list">
										<li ng-repeat="grade in VM.grade track by $index" ng-class="VM.currentGradeSeclet[$index]?'selected':''" ng-click="VM.selectGrade($index)"><span ng-bind="grade.name"></span></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="select-nav-item">
							<div class="menu-drop">
								<div class="trigger">
									<span class="select-current">{{VM.currentSubject.name}}</span>
									<i class="icon-angle-down"></i>
									<i class="icon-angle-up"></i>
								</div>
								
								<div class="menu-drop-main">
									<ul class="menu-drop-list">
										<li ng-repeat="subject in VM.subject track by $index" ng-class="VM.currentSubjectSeclet[$index]?'selected':''" ng-click="VM.selectSubject($index)"><span>{{ subject.name }}</span></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="select-nav-item">
							<div class="menu-drop">
								<div class="trigger" ng-click="closeCurrentVersion()">
									<span class="select-current" href="">{{VM.currentVersion.name}}</span>
									<i class="icon-angle-down"></i>
									<i class="icon-angle-up"></i>
								</div>
								<div class="menu-drop-main">
									<ul class="menu-drop-list">
										<li ng-repeat="version in VM.version track by $index" ng-class="VM.currentVersionSeclet[$index]?'selected':''" ng-click="VM.selectVersion($index)"><span>{{ version.name }}</span></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="select-nav-item">
							<div class="menu-drop">
								<div class="trigger" ng-click="closeCurrentMaterial()">
									<span class="select-current" href="">{{VM.currentMaterial.name}}</span>
									<i class="icon-angle-down"></i>
									<i class="icon-angle-up"></i>
								</div>
								<div class="menu-drop-main">
									<ul class="menu-drop-list">
										<li ng-repeat="material in VM.material track by $index" ng-class="VM.currentMaterialSeclet[$index]?'selected':''" ng-click="VM.selectMaterial($index)"><span>{{ material.name }}</span></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
    				</div>

    			</div>
    			<div class="clearfix"></div>
    		</div>
    		<div class="edit-list">
    			<span class="red-tip">*</span>
    			<span class="sp-label">共享范围</span>
    			<span class="tag active">仅自己可见</span>
    			<span class="tag">本校可见</span>
    			<span class="tag">本区可见</span>
    		</div>
    		<div class="edit-list">
    			<span class="red-tip">*</span>
    			<span class="sp-label">关键词</span>
    			<input type="text" ng-model="res.keywords" class="keyword-input" placeholder="多个关键词用分号隔开" />
    		</div>
    		<div class="edit-list">
    			<span class="red-tip">*</span>
    			<span class="sp-label">资源介绍</span>
    			<textarea ng-model="res.description" placeholder="选填，主要介绍资源的主要内容，方便资源的管理和分享，限200字">
    			</textarea>
    			<span class="sp-count-word"><span ng-model="res.description.length"></span>/200</span>
    		</div>
    	</div>
    </div>
    <div class="modal-footer">
    	<button class="btn-general" ng-click="editDone()">确定</button>
		<button class="btn-general" ng-click="close()">取消</button>
    </div>
</div>
</script>
</div>
<div class="cen-right-down">
	<h3 class="cen-h2">我的上传</h3>
	<div class="type-select-box">
	  	<!-- <select ng-change="selectResType(tpSelected)" ng-model="tpSelected" >
			<option ng-repeat="tp in resTypes" ng-bind="tp.mtype" value="{{tp}}"></option>
		</select> -->
		<div class="select-nav-item">
			<div class="menu-drop">
				<div class="trigger">
					<span class="select-current" href="" ng-bind="VM.resType"></span>
					<i class="icon-angle-down"></i>
					<i class="icon-angle-up"></i>
				</div>
				
				<div class="menu-drop-main">
					<ul class="menu-drop-list">
						<li ng-repeat="tp in resTypes" ng-click="selectResType(tp)"><span ng-bind="tp.mtype"></span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="resource-box">
		<div class="box-title">
			<div class="row">
				<div class="col-md-5 col-sm-5">
					资源名称
				</div>
				<div class="col-md-2 col-sm-2">
					资源类型
				</div>
				<div class="col-md-3 col-sm-3">
					资源日期
				</div>
				<div class="col-md-2 col-sm-2">
					操作
				</div>
			</div>
		</div>
		<div class="resource-list my-upload-list">
			<ul class="row">
				<li ng-repeat="list in VM.uploadFileList.list track by $index">
					<div class="col-md-5 col-sm-5">
						<div class="check-box-area">
							<div class="check-box">
								<input id="{{$index}}" type="checkBox" class="check" ng-click="addResDeleting(list.resId)">
								<label for="{{$index}}"></label>
							</div>
						</div>
						<div class="img-thumb-list">
							<img class="res-list-thumb" ng-src="{{ list.imgPath?list.imgPath:'null'}}" fallback-src="http://chat.tfedu.net/tfedu/resicon/{{list.fileSuffix | lowercase}}.png" ng-click="previewRes(list)"/>
						</div>
						<span class="resource-title">{{list.title}}</span>
					</div>
					<div class="col-md-2 col-sm-2">
						<span class="resource-type">{{list.unifyType}}</span>
					</div>
					<div class="col-md-3 col-sm-3">
						<show-time class="resource-date" data-value="{{list.time | date:'yyyy-MM-dd HH:mm:ss'}}"></show-time>
					</div>
					<div class="col-md-2 col-sm-2">
						<button class="btn-op" ng-click="editRes(list)">编辑</button>
						<button class="btn-op" ng-click="deleteSingleRes(list.resId)">删除</button>
					</div>
					<div class="clearfix"></div>
				</li>
			</ul>
			<button class="btn-op" id="btn-delete-some" ng-click="deleteSomeRes()">批量删除</button>
		</div>
		<div class="set-per-page">
			<span class="res-text-total"><i>共</i><i>{{totalItems}}</i><i>条，</i></span>
				<span class="res-text-perpage"> 每页显示<input type="text" ng-model="VM.perPage" ng-blur="changPerPage()"/>条</span>
		</div>
		<div class="pagination-box">
			<div class="coms-pagination">
				<uib-pagination total-items="totalItems" ng-model="VM.currentPage" max-size="maxSize" boundary-link-numbers="true" previous-text="上一页" next-text="下一页" num-pages="perPage" ng-change="pageChanged()"></uib-pagination>
				<div class="page-go">
					<span class="page-text">转到</span>
					<input class="page-input" ng-model="pageTo"/>
					<span class="page-go-btn" ng-click="pageChanged(pageTo)">Go</span>
				</div>
			</div>
		</div>
	</div>
</div>
