<div>
	<div class="container" id="personal-center-container">
		<div class="row">
			<div class="col-md-4 col-sm-12 cen-left">
				<div class="cen-info">
					<div class="user-avatar">
						<img ng-src="{{user.userImage}}">
						<span class="user-name">{{user.trueName }}</span>
					</div>
					<div class="user-info">
						<span><img src="assets/img/loc.png" /><i>{{ user.termName }}</i>|<i>{{ user.subjectNames }}老师 </i>|<i ng-class="user.male == '男'? 'icon-male':'icon-female'"></i></span>
						<span class="user-school"><img class="user-info-icon" src="assets/img/tie.png" />{{ user.schoolName }}</span>
						<button class="btn-general btn-pink" ng-click="uploadRes()">上传资源</button>
						
						<button class="btn-general btn-pink" ng-click="VM.uploadResInfo()">编辑资源</button>
					</div>
				</div>
				<div class="btn-group">
					<ul>
						<li><button class="btn-general btn-heavy" ng-click="switchItem(0)">我的备课</button></li>
						<li><button class="btn-general btn-light" ng-click="switchItem(1)">我的上传</button></li>
						<li><button class="btn-general btn-white" ng-click="switchItem(2)">我的下载</button></li>
						<li><button class="btn-general btn-white" ng-click="switchItem(3)">我的评论</button></li>
						<li><button class="btn-general btn-white" ng-click="switchItem(4)">最近浏览</button></li>
					</ul>
				</div>
			</div>
			<div class="col-md-8 cen-right">
				<div class="cen-right-up">
					<h3 class="cen-h2">备课统计</h3>
					<div class="left-arrow">
						<span></span><img src="assets/img/left_arrow.png" />
					</div>
					<div class="statistic-content">
						<p>{{item.title}}已备完{{item.prepareNums}}节课，共{{prepare.length}}个备课夹，{{item.resourceNums}}条资源，还有{{item.nodeOmitNums}}节课要备。</p>
						<div class="statistic-box">
							{{prepareConfig}}
							<highchart config="chartConfig"></highchart>
						</div>
						<p>{{item.title}}</p>
					</div>
					<div class="right-arrow">
						<span></span>
						<img src="assets/img/right_arrow.png"/>
					</div>
				</div>

				<!-- 我的备课 -->
				<div ng-show="switchItemCtrl[0]"  ng-controller="myPrepareCtrl" data-ng-include="'/coms/personal-center/views/my-prepare.html'"></div>
				<!-- 我的上传 -->
				<div ng-show="switchItemCtrl[1]" ng-controller="myUploadCtrl" data-ng-include="'/coms/personal-center/views/my-upload.html'"></div>
				<!-- 我的下载 -->
				<div ng-show="switchItemCtrl[2]" ng-controller="myDownloadCtrl" data-ng-include="'/coms/personal-center/views/my-download.html'"></div>
				<!-- 我的评论 -->
				<div ng-show="switchItemCtrl[3]" ng-controller="myCommentCtrl" data-ng-include="'/coms/personal-center/views/my-comment.html'"></div>
				<!-- 最近浏览-->
				<div ng-show="switchItemCtrl[4]" ng-controller="myRecentCtrl" data-ng-include="'/coms/personal-center/views/my-recent.html'"></div>

			</div>
		</div>
	</div>
</div>

<!-- 模态框（Modal） -->
<!-- 上传模态框 -->
<div data-ng-include="'/coms/personal-center/views/upload-modal.html'"></div>

