<div>
	<div class="container" id="personal-center-container">
		<div class="row">
			<div class="col-md-4 col-sm-12 cen-left">
				<div class="cen-info">
					<div class="user-avatar">
						<div class="avatar-box">
							<img ng-src="{{user.userImage}}" fallback-src="personalcenter">
							<img class="edit-avatar-icon" src="assets/img/person/edit_avatar.png" ui-sref="settings"></img>		
						</div>
						<span class="user-name">{{user.trueName }}</span>
						
					</div>
					<div class="user-info user-info-custom">
						<span><img src="assets/img/loc.png" /><i>{{ user.termName }}</i>|<i>{{ user.subjectNames }}老师 </i>|<i ng-class="user.male == '男'? 'icon-male':'icon-female'"></i></span>
						<span class="user-school"><img class="user-info-icon" src="assets/img/tie.png" />{{ user.schoolName }}</span>
						<button class="btn-general btn-pink" ng-click="uploadRes()">上传资源</button>
						<!--<button class="btn-general btn-pink" ng-click="VM.uploadResInfo()">编辑资源</button>-->
					</div>
				</div>
				<div class="op-btn-group nav-item-select">
					<ul>
						<li><button class="btn-general btn-white" ng-click="switchItem(0)" op-btn="我的备课"></button></li>
						<li><button class="btn-general btn-white" ng-click="switchItem(1)" op-btn="我的上传"></button></li>
						<li><button class="btn-general btn-white" ng-click="switchItem(2)" op-btn="我的下载"></button></li>
						<li><button class="btn-general btn-white" ng-click="switchItem(3)" op-btn="我的评论"></button></li>
						<li><button class="btn-general btn-white" ng-click="switchItem(4)" op-btn="最近浏览"></button></li>
					</ul>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 cen-right">
				<div class="cen-right-up">
					<h3 class="cen-h2">备课统计</h3>
					<div class="left-arrow">
						<span></span><i ng-click="pre()" class="icon-chevron-left"></i>
					</div>
					<div class="statistic-content">
						<p>已备完{{currentPrepare.prepareNums}}节课，共{{prepare.length}}个备课夹，{{currentPrepare.resourceNums}}条资源，还有{{currentPrepare.nodeOmitNums}}节课要备。</p>
						<div class="statistic-box">
							<highchart config="chartConfig"></highchart>
						</div>
						<p>{{currentPrepare.title}}</p>
					</div>
					<div class="right-arrow">
						<span></span>
						<i ng-click="next()" class="icon-chevron-right"></i>
					</div>
				</div>

				<!-- 我的备课 -->
				<div ng-show="switchItemCtrl[0]"  ng-controller="myPrepareCtrl" data-ng-include="'/coms/personal-center/views/my-prepare.html'"></div>
				<!-- 我的上传 -->
				<div ng-show="switchItemCtrl[1]" ng-controller="myUploadCtrl" data-ng-include="'/coms/personal-center/views/my-upload.html'"></div>
				<!-- 我的下载 -->
				<div ng-show="switchItemCtrl[2]" ng-controller="myDownloadCtrl" data-ng-include="'/coms/personal-center/views/my-download.html'"></div>
				<!-- 我的评论 -->
				<div ng-show="switchItemCtrl[3]" ng-controller="myCommentCtrl" data-ng-include="'/coms/personal-center/views/my-comment.html'"></div>
				<!-- 最近浏览-->
				<div ng-show="switchItemCtrl[4]" ng-controller="myRecentCtrl" data-ng-include="'/coms/personal-center/views/my-recent.html'"></div>

			</div>
		</div>
	</div>
</div>

<!-- 模态框（Modal） -->
<!-- 上传模态框 -->
<div data-ng-include="'/coms/layout/modal/modal/upload-modal.html'"></div>

