<!-- 模态框（Modal） -->
<!-- 上传 -->
<script type="text/ng-template" id="uploadModal.html">
	<div class="modal-body upload-modal-body">
		<div class="nav nav-tabs avatar-tabs" role="tablist">
			<ul>
				<li role="presentation" class="active">
					<img src="assets/img/settings/tab_active.png" />
					<a href="#system-avatar" aria-controls="system-avatar" role="tab" data-toggle="tab">本地资源</a>
				</li>
				<li role="presentation">
					<img src="assets/img/settings/tab2.png" />
					<a href="#self-avatar" aria-controls="self-avatar" role="tab" data-toggle="tab">网络资源</a>
				</li>
				<div style="clear: both"></div>
			</ul>
		</div>
		<div class="upload-file-content">
			<div class="first-upload" ng-show="firstUpload">
				<div class="">
						图片：jpg、gif、jpeg、png、bmp，限制5M;
						文本：doc/docx、ppt/pptx、xls/xlsx、pdf/txt，限制30M;
						动画：swf，限制30M；
						音频：mp3、wma、wav，限制30M；
						视频：mp4、flv，限制150M；
						压缩包：rar、zip，限制100M.
				</div>
				<button class="btn-general" ngf-select="uploadFiles($files, $invalidFiles)" ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="150MB">上传</button>
			</div>
			<div class="continue-upload"  ng-hide="firstUpload">
				<div class=""> {{ progress }}</div>
				<!--<button class="btn-general" ngf-select="uploadFiles($files, $invalidFiles)" ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="150MB">继续添加</button>-->
				<button class="btn-general" ng-click="uploadResInfo()">完成</button>
			</div>
		</div>
	</div>
</script>
<!-- 上传资源信息编辑 -->
<script type="text/ng-template" id="eiditResModal.html">
	<div class="modal-body upload-modal-body modal-prepare-body">
		<div class="modal-prepare-header">上传资源</div>
		<div class="modal-prepare-content">
			资源名称：<input id="resName" ng-model="VM.resName" />
			<img src="http://i3.piimg.com/0fe5749e7490ca57.png" style="width:100%">
			<!--<div class="">资源类型：</div>
			<div class="">上传至：</div>
			<div class="">共享范围：</div>
			<div class="">关键词：</div>
			<div class="">资源介绍：</div>
			<div class="">{{VM.resSize}}</div>-->
			<button class="btn btn-lg btn-success btn-custom-modal" ng-click="uploadResInfo()">确定</button>
			<button class="btn btn-lg btn-success btn-custom-modal">取消</button>
		</div>
	</div>
</script>