.edui-dialog-music .edui-music-wrapper{font-size: 12px;margin: 15px;}

/*upload*/
.edui-dialog-music .edui-music-upload1{position: absolute;top:20%;left:30%;width:344px;height:238px;margin-top:-19px; margin-left: -22px;}
.edui-dialog-music .edui-music-upload2{position:relative;float:left;width:120px;height:120px;margin:5px 0 0 5px;}

.edui-dialog-music .edui-music-form{position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;opacity: 0;cursor: pointer;}
.edui-dialog-music .edui-music-form .edui-music-file{filter: alpha(opacity=0)}

.edui-dialog-music .edui-music-upload1 .edui-music-icon{display: inline-block;width:44px;height:38px;background-music: url('images/upload1.png')}
.edui-dialog-music .edui-music-upload1 .edui-music-icon.hover{background-position: -50px 0;}
.edui-dialog-music .edui-music-upload2 .edui-music-icon{display: inline-block;width:120px;height:120px;background-music: url('images/upload2.png')}

.edui-dialog-music .edui-music-dragTip{
	display: none;
}

.edui-dialog-music .edui-music-content{height:230px;width:100%;position: relative;}
.edui-dialog-music .edui-music-custom{
	margin: 10px 180px 0 180px;
	text-align: center;
	height:280px;
	background: url('images/shangchuanyinpinimage.png') no-repeat;
}

.edui-dialog-music .edui-music-upload-item{
	margin: 0 180px 0 180px;
	background: url('images/music.png') no-repeat;
}
}

.edui-dialog-music .edui-music-mask{display: none;position: absolute;top:0;left:0;width: 100%; height: 100%;background-color:#fff;
    text-align: center;line-height:300px;color:#000;font-size:14px;font-weight:bold;opacity: 0.6;filter: alpha(opacity=60);}
.edui-dialog-music .edui-music-mask.edui-active{display: block;position: fixed; top:50%; left:46%;}

/*network*/
.edui-dialog-music .edui-music-searchBar{margin: 10px;}
.edui-dialog-music .edui-music-searchBar .edui-music-searchTxt{display: inline-block !important;*display: inline !important;*zoom:1;width:400px; border: 1px solid #c5d2ff; height: 20px; line-height: 18px; font-size: 14px; padding: 3px; margin: 0;outline:0;}
.edui-dialog-music .edui-music-searchBar .edui-music-searchAdd{display: inline-block !important;*display: inline !important;*zoom:1;
    width:60px; text-align:center;height: 25px;text-align: center;line-height: 25px;
    background-color: #ffffff;padding: 0; border: 1px solid #ababab;margin-left: 20px;cursor: pointer;
}
.edui-dialog-music .edui-music-searchBar .edui-music-searchAdd.hover{
    background-color: #d5e1f2;
    padding: 0;
    border: 1px solid #a3bde3;
}
.edui-dialog-music .edui-music-searchRes{height:280px;overflow:auto;}
.edui-dialog-music .music-item-details{
	margin-left: 100px;
	margin-top: 40px;
}

/*common*/
.edui-dialog-music .edui-music-item{position:relative;float:left;height:120px;cursor: default;margin: 100px 190px;}
.edui-dialog-music .edui-music-item .edui-music-pic{position: absolute;left:-9999px;}
.edui-dialog-music .edui-music-item .edui-music-close{position:absolute;right:0;background: url('images/close.png');width:17px;height:17px;cursor:pointer;z-index:1}
.edui-dialog-music .edui-music-item.hover .edui-music-close{display: block;}
