#customres-container{
    
}
#customres-container .custom_types{
    background: #fff;
   
    margin-top: 30px;
    margin-bottom: 50px;
}
#customres-container .custom_types .thumbnail{
    border: none;
}
#customres-container .type_name
{
    color: #219B81;
    font-size: @navFontSize;
    width: 55%;
    margin: 15px auto;
}
#customres-container .type_des
{
    color:@color12 ;
    font-size: @resNavFontSize;
    width: 80%;
    margin: 15px auto;
    line-height: 30px;
}

#customres-container .custom_types .caption
{
    padding: 0px;
}


#customres-container .subject_box
{
    margin-top: 30px;
    min-height: 300px;
}
#customres-container .subject_box .subject
{
    font-size: @navFontSize;
    color: #219B81;
    margin-left: 20px;
}
#customres-container .subject_box .btnBox
{
    overflow: hidden;
    margin: 0 auto;
    width: 94%;
}
#customres-container .subject_box .btn-success
{
    background: #219B81;
    float: right;
    margin-top: 2px;
}
#customres-container .download
{
    color: #219B81;
    text-decoration: underline;
    font-size:18px ;
    line-height: 40px;
    float: right;
    cursor: pointer;
    margin-right: 10px;
}
#customres-container .subject_box .list-all-title{
    font-size:@resNavFontSize ;
    margin:10px auto;
    width:91%;
    cursor: pointer;
    text-align: left;
}
#customres-container .prepare-all-item-img
{
    cursor: pointer;
}
#customres-container .subject_box .list-all-item{
  
    padding: 0px;
    margin-bottom: 20px;
   margin-right: 0px;
   border: none;
}
#customres-container .subject_box .item_inner
{
    width: 92%;
    margin: 0px 4%;
    padding: 10px;
    border: 1px solid #ccc;
    min-height: 170px;
    
}
#customres-container .img-thumb
{
    height: 150px;
    width: 91%;
    margin: 0 auto;
    line-height: 145px;
     background: #f2f2f2;
}

#customres-container .res-list-thumb{
   max-width: 85%;
   max-height: 140px;
   vertical-align: middle;
  
}

#customres-container .item_inner:hover .res-list-thumb
{
    transform: scale(1.1);
    transition: 0.5s ease;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
}
#customres-container .subject_box .item_inner:hover
{
    border:1px solid @color6;
    
}
#customres-container .subject_box .prepare-all-list
{
    padding-bottom: 10px;
}
#customres-container .res-custom-header-img{
    margin-top: -18px;
}
.res-custom-header-subject{
   margin-top: -25px;
   margin-left: -50px; 
}
