/*
 * 基本字体样式规范文件
 * 包括配色 颜色
*/

/*全局字体*/ 
@font: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";

/*基本字体大小 以10px为基础*/
@fontsize: 62.5%;

html{
 	font-family: @font;
 	font-size:  62.5%;
}

/*通用字体大小设置*/
// 导航字体
@nav: 2.4rem;


/*通用配色 颜色设置*/