// header样式
#header{
}
#header .header-top{
   height: 70px;
   margin-top: 30px;
}
#header .logo{
    height: 50px;
}
#header .message{
    float: right;
}

#header .message li{
    float: left;
    margin: 10px;
    position: relative;
}
#header .message li a{
    color: @msgColor;
    font-size: @msgFontSize;
}

#header .banner{
    z-index: -1;
    position: relative; 
}
#header .banner img{
    width: 100%;
}
.banner-footer{
    margin-top: -30px;
}

.banner-footer-header{
    height: 7px;
    background: url(assets/img/banner-footer.png) repeat-x;
}
.banner-footer-footer{
    height: 35px;
    background: @bannerFooterBgColor;
}
.banner-footer-preview{
    margin-top: 15px;
}

#header .main-nav{
    background-color: @navBgColor;
    color: #fff;
}
#header .main-nav{
    padding: 0;
}
#header .main-nav li{
    float: left;
    min-width: 100px;
    margin: 0 12px;
    height: 49px;
    vertical-align: middle;
    line-height: 49px;
    text-align: center;
    padding: 2px;
}
#header .main-nav li:first-child{
    margin-left: 0;
}
.main-nav li>a{
    color:#fff;
    font-size: 18px;
    padding: 0;
    line-height: 36px;
    padding: 3px 6px;
}
#header .main-nav li:hover{
    background: #EC80AF;
    border-radius: 6px;
}
.main-nav li>a:visited,.main-nav li>a:hover,.main-nav li>a:focus{
    background: #EC80AF;
    border: 1px dashed #fff;
    border-radius: 6px;
    
}
.main-nav .onactive{
    background: #EC80AF;
    border: 1px dashed #fff;
    border-radius: 6px;
}

.second-banner{
    position: relative;
    height: 110px;
    background: #fff;
}
.second-banner img{
    position: absolute;
    left:35px;
}
.second-banner .head-title{
    position: absolute;
    font-size: 30px;
    color: #12879A;
    top: 50px;
    left: 190px;
}
// 第三种页面
.header-bg-custom3{
    background: #fff;
    padding-bottom: 15px;
}
.header-bg-custom3 .section-logo{
    margin-top: 20px;
    margin-left: 30px;
    max-width: 100px;
    max-height: 100px;
}
.header-bg-custom3 .section-title {
    position: absolute;
    font-size: 30px;
    color: #12879A;
    padding-top: 50px;
    margin-left: 20px;
    
}
.header-bg-custom3 .message{
    margin-top: 60px;
}
.header-bg-custom4 .message{
    margin-top: 10px;
}
.empty-nav{
    height: 30px;
    background: @color2;
}
.empty-nav-custom{
    height: 55px;
}
.empty-nav-header2{
    height: 40px;
    background: #12879A;
}
.custom-header2{
    background: #fff;
    padding: 10px;
}
