// header样式
#header{
    height: 400px;
}
#header .header-top{
   height: 70px;
   margin-top: 30px;
}
#header .logo{
    height: 50px;
}
#header .message{
    float: right;
}

#header .message li{
    float: left;
    margin: 10px;
    position: relative;
}
#header .message li a{
    color: @msgColor;
}

#header .banner{
    z-index: -1;
    position: relative;
}
#header .banner-footer{
    margin-top: -30px;
}

#header .banner-footer-header{
    height: 7px;
    background: url(assets/images/banner-footer.png) repeat-x;
}
#header .banner-footer-footer{
    height: 35px;
    background: @bannerFooterBgColor;
}

#header .nav{
    background-color: @navBgColor;
    color: #fff;
}
#header .main-nav{
    padding: 0;
}
#header .main-nav li{
    float: left;
    width: 160px;
    height: 49px;
    vertical-align: middle;
    line-height: 49px;
    text-align: center;
}
.main-nav li.on{
    background: url(assets/img/nav_bj.png) no-repeat; 
    box-sizing: border-box;
}
#header .nav-tools {
    float: left;
    margin-right: 10px;
}
#header .nav-tools img{
    width: 30px;
}
































