// 在线授课页
#onlineres-container{
    min-height: 900px;
    margin-top: -30px;
}
#onlineres-container .header-nav-tips{
    color: #fff;
    
}
#onlineres-container .header-nav-tips span{
   padding: 0 3px;
   cursor: pointer;
}
#onlineres-container .header-nav-tips span:hover{
    text-decoration: underline;
}
