.cen-left, .cen-right {
    padding: 10px 10px;
    height: 100%;
}
.nav-item-select{
    background: #fff;
    min-height: 500px;
}
.nav-item-select ul{
    
}
.cen-info {
    text-align: center;
    padding-bottom: 0;
    background-color: #FFFFFF;
}


.user-avatar span {
    display: block;
    font-size: 1.6rem;
    margin-top: 10px;
    color: #12879A;
}

.user-school {
    display: block;
}

.user-info i {
    font-style: normal;
}

.user-info-icon {
    margin: 0 10px;
}
.user-info-custom{
    margin-bottom: 0;
}
.btn-pink {
    background-color: #EC80AF;
    line-height: 35px;
}

.op-op-btn-group {
    background-color: #FFFFFF;
    padding: 10px 10px;
    padding-top: 0;
    width: 100%;
}

.op-btn-group ul {
    width: 100%;
    padding: 0;
    text-align: center;
}

.op-btn-group ul button {
    width: 80%;
    height: 50px;
    font-size: 2rem;
    letter-spacing: 2px;
}

.op-btn-group ul button:hover {
    background-color: #41C9A9;
    color: #FFFFFF;
}

.op-btn-group ul button:active {
    
}


.btn-white {
    background-color: #FFFFFF;
    color: #219B81;
    border: 1px solid #CCCCCC;
}
.cen-right-up i{
    color: #808080;
    font-size: 30px;
}
.cen-right-up i:hover{
    color: #219B81;
    transform: scale(1.3);
    transition:  0.5s transform;
    -moz-transition: 0.5s transform; /* Firefox 4 */
    -webkit-transition: 0.5s transform; /* Safari 和 Chrome */
    -o-transition: 0.5s transform; /* Opera */
}
.cen-right-up, .cen-right-down {
    background: #FFFFFF;
    position: relative;
    padding-bottom: 20px;
}

.cen-right h3 {
    margin: 0 0;
    padding: 15px;
    color: #219B81;
    font-size: 2rem;
}

.left-arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 14%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding-top: 35px;
}

.left-arrow span {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.statistic-content {
    height: 100%;
    padding-left: 14%;
    padding-right: 14%;
    font-size: 1.6rem;
    color: #666666;
    text-align: center;
}

.right-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 14%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding-top: 35px;
}

.right-arrow span {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.statistic-content canvas {
    height: 200px;
    width: 200px;
}

.cen-right-down {
    margin-top: 15px;
}


.type-select-box {
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 1.4rem;
    color: #219B81;
}

.type-select-box  {
    .menu-drop .trigger {
         margin-top: 0;
        border: 1px solid #219B81;
    }

    .menu-drop .menu-drop-main {
        width: 100%;
    }
   
}




/*
.type-select-box select {
    width: 160px;
    height: 30px;
    border: 2px solid #219B81;
    padding: 0 5px;
    letter-spacing: 1px;
}

.type-select-box option {
    height: 25px;
    padding: 5px 10px;
}
*/
.box-title {
    height: 50px;
    line-height: 50px;
    font-size: 1.4rem;
    color: #666666;
    padding-left: 30px;
}


.cen-right-down h3 {
    border-bottom: 1px solid #CCCCCC;
    font-size: 1.8rem;
}

.resource-list {
    padding: 10px 10px;
}

.resource-list .row {
    margin: 0;
}


.resource-list ul {
    padding-left: 0px;
    
}

.resource-list li {
    min-height: 150px;
    font-size: 1.4rem;
    color: #666666;
}
/*
.resource-list li div {
    height: 100%;
}*/

/*
.resource-list img {
    width: 30%;
    height: 80%;
    padding: 5px;
    border: 1px solid #12879A;
    background-color: #FFFFFF;
}*/

.my-upload-list .img-thumb-list {
    width: 120px;
    height: 120px;
    left: 39px;
    line-height: 120px;
}
.my-upload-list .res-list-thumb {
    width: 110px;
    height: 110px;
    line-height: 110px;
}


.my-upload-list .resource-title {
    float: left;
    width: 35%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
//  margin-left: 142px;
}

.my-upload-list .check-box-area {
    float: left;
}

.resource-list li.active {
    background-color: #E6F4F4;
}

.resource-list .btn-op {
    background-color: #219B81;
    height: 25px;
    line-height: 24px;
    border-radius: 4px;
    font-size: 1.3rem;
}

#btn-delete-some {
    width: 80px;
    float: right;
}

.pagination-box{
    text-align: center;
    padding-bottom: 20px;
}

.resource-title {
    position: absolute;
    left: 170px;
    top: 5px;
}

.resource-type, .resource-date{
    margin-left: 20px;
}


//编辑资源模态框

@media screen and (min-width: 992px) {
    .modal-slg {
        width: 800px;
    }
}

.edit-res-modal {
    background-color: #FFFFFF;
    font-size: 1.3rem;
    border: 1px solid #41C9A9;
    border-radius: 7px;
    color: #666666;
    text-align: center;
    width: 110%;
    vertical-align: top;
}

.edit-res-modal img, span {
    vertical-align: top;
}

.edit-res-modal .modal-header {
    padding: 3px 10px;
    background-color: #41C9A9;
    color: #FFFFFF;
}

.edit-res-modal .modal-body {
    width: 80%;
    text-align: left;
    margin: auto;
}

.edit-res-modal .modal-body p {
    margin-top: 20px;
}

.edit-res-modal .modal-body input {
    width: 180px;
    height: 25px;
}

.edit-res-modal .modal-body .keyword-input {
    width: 260px;
}

.edit-res-modal .modal-body .btn-op {
    width: 60px;
    height: auto;
    margin-left: 15px;
    border-radius: 6px;
}

.edit-list {
    padding: 15px 10px;
}

.edit-list-left {
    width: 15%;
    float: left;
}

.edit-list-right {
    width: 80%;
    float: left;

    .menu-drop .trigger {
        margin-top: 0;
        height: 20px;
        line-height: 20px;
        margin-right: -1px;
        padding-right: 0;
        border: 1px solid #CCCCCC;
    }

    .menu-drop .trigger i {
        margin-right: 0;
        padding-right: 0;
    }

    .menu-drop .menu-drop-main {
        width: 95%;
    }
}

.sp-label {
    margin-right: 10px;
    font-size: 1.3rem;
    color: #666666;
    display: inline-block;
    min-width: 55px;
}

.tag {
    display: inline-block;
    min-height: 20px;
    min-width: 40px;
    text-align: center;
    padding: 0 10px;
    cursor: pointer;
}

.tag.active {
    background-color: #3FBBCF;
    color: #FFFFFF;
}

.edit-res-modal textarea {
    width: 350px;
    height: 70px;
}

.sp-count-word {
    margin-left: 80px;
    display: block;
}

.sp-count-word span {
    text-decoration: none;
    color: #FF0000;
}

.edit-res-modal .modal-footer{
    border: none;
}

//备课统计
.statistic-box {
    padding: 15px 5px;
}
.statistic-box div[data-highcharts-chart] .highcharts-container{
    margin: 0 auto;
}


.set-per-page {
    font-size: 1.3rem;
    font-style: normal;
    padding-left: 30px;
    i {
        font-style: normal;
    }
    span {
        margin-left: 0;
    }
}


//我的评论
.cen-right-down .comment-head
{
    min-height: 45px;
    color: @color5;
    padding: 10px 0px;
    margin:0px 10px;
    border-bottom:1px solid @color14 ;
}

.cen-right-down .comment-head .grade
{
    float: right;
    margin-right: 30px;
}
.comment-head .grade label
{
    color: @color12;
    font-size: 16px;
    font-weight: normal;
    margin-right: 7px;
}

.cen-right-down .my-comment
{
    float: left;
    height: 25px;
    line-height: 25px;
    border-right: 1px solid @color5;
    width: 100px;
    text-align: center;
    font-size: 18px;
}
.cen-right-down .comment-list
{
    border-bottom:1px dashed @color14 ;
}
.cen-right-down .comType
{
    float: left;
    margin-left: 10px;
}
.cen-right-down .comType span{
    margin:0 8px;
    cursor: pointer;
}
.cen-right-down .cur-state
{
    color: #EC80AF;
}
.com-list .resource-title
{
    display: block;
    margin-left: 0px;
    height: 30px;
    line-height: 30px;
   
   
}
.com-list li{

}
.com-list .person-thumb
{
    width: 100%;
    cursor: pointer;
}
.com-list .com-content
{
    line-height: 22px;
}
.com-list .name{
    color: @color5;
}
.com-list .btn{
    background: @color5;
    height: 28px;
    line-height:12px;
    float: right;
}
.com-list .edit
{
    clear: both;
}


