.cen-left, .cen-right {
    padding: 10px 10px;
    height: 100%;
}

.cen-info {
    text-align: center;
    padding: 10px 10px;
    background-color: #FFFFFF;
}


.user-avatar span {
    display: block;
    font-size: 1.6rem;
    margin-top: 10px;
    color: #12879A;
}

.user-school {
    display: block;
}

.user-info i {
    margin: 0 10px;
    font-style: normal;
}

.user-info-icon {
    margin: 0 10px;
}

.btn-pink {
    background-color: #EC80AF;
    line-height: 35px;
}

.btn-group {
    background-color: #FFFFFF;
    padding: 10px 10px;
    width: 100%;
}

.btn-group ul {
    width: 100%;
    padding: 0;
    text-align: center;
}

.btn-group ul button {
    width: 100%;
    height: 50px;
    font-size: 2rem;
    letter-spacing: 2px;
}

.btn-light {
    background-color: #41C9A9;
}

.btn-white {
    background-color: #FFFFFF;
    color: #219B81;
    border: 1px solid #CCCCCC;
}

.cen-right-up, .cen-right-down {
    background: #FFFFFF;
    position: relative;
}

.cen-right h3 {
    margin: 0 0;
    padding: 15px;
    color: #219B81;
    font-size: 2rem;
}

.left-arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 14%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.left-arrow span {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.statistic-content {
    height: 100%;
    padding-left: 14%;
    padding-right: 14%;
    font-size: 1.6rem;
    color: #666666;
    text-align: center;
}

.right-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 14%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.right-arrow span {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.statistic-content canvas {
    height: 200px;
    width: 200px;
}

.cen-right-down {
    margin-top: 15px;
}


.type-select-box {
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 1.4rem;
    color: #219B81;
}

.type-select-box select {
    width: 160px;
    height: 30px;
    border: 2px solid #219B81;
    padding: 0 5px;
    letter-spacing: 1px;
}

.type-select-box option {
    height: 25px;
    padding: 5px 10px;
}

.box-title {
    height: 50px;
    line-height: 50px;
    font-size: 1.4rem;
    color: #666666;
    padding-left: 30px;
}


.cen-right-down h3 {
    border-bottom: 1px solid #CCCCCC;
    font-size: 1.8rem;
}

.resource-list {
    padding: 10px 10px;
}

.resource-list .row {
    margin: 0;
}

.resource-list ul {
    padding-left: 0px;
    
}

.resource-list li {
    height: 100px;
    line-height: 100px;
    font-size: 1.4rem;
    color: #666666;
}

.resource-list li div {
    height: 100%;
}

.resource-list img {
    width: 30%;
    height: 80%;
    padding: 5px;
    border: 1px solid #12879A;
    background-color: #FFFFFF;
}

.my-upload-list img {
    float: left;
    width: 40%;
}

.my-upload-list .resource-title {
    float: left;
    width: 40%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.resource-list li.active {
    background-color: #E6F4F4;
}

.resource-list .btn-op {
    background-color: #219B81;
    height: 25px;
    line-height: 24px;
    border-radius: 4px;
    font-size: 1.3rem;
}

#btn-delete-some {
    width: 80px;
    float: right;
}

.pagination-box{
    text-align: center;
    padding-bottom: 20px;
}

.resource-title, .resource-type, .resource-date{
    margin-left: 20px;
}

.person-thumb{
    max-width: 80px;
    max-height: 80px;
}

//编辑资源模态框
.edit-res-modal {
    background-color: #FFFFFF;
    font-size: 1.3rem;
    border: 1px solid #41C9A9;
    border-radius: 7px;
    color: #666666;
    text-align: center;
    width: 700px;
    vertical-align: top;
}

.edit-res-modal img, span {
    vertical-align: top;
}

.edit-res-modal .modal-header {
    padding: 3px 10px;
    background-color: #41C9A9;
    color: #FFFFFF;
}

.edit-res-modal .modal-body {
    width: 70%;
    text-align: left;
    margin: auto;
}

.edit-res-modal .modal-body p {
    margin-top: 20px;
}

.edit-res-modal .modal-body input {
    width: 180px;
    height: 25px;
}

.edit-res-modal .modal-body .keyword-input {
    width: 260px;
}

.edit-res-modal .modal-body .btn-op {
    width: 60px;
    height: auto;
    margin-left: 15px;
    border-radius: 6px;
}

.edit-list {
    padding: 15px 10px;
}

.sp-label {
    margin-right: 10px;
    font-size: 1.3rem;
    color: #666666;
    display: inline-block;
    min-width: 55px;
}

.tag {
    display: inline-block;
    min-height: 20px;
    min-width: 40px;
    text-align: center;
    padding: 0 10px;
    cursor: pointer;
}

.tag.active {
    background-color: #3FBBCF;
    color: #FFFFFF;
}

.edit-res-modal textarea {
    width: 350px;
    height: 70px;
}

.sp-count-word {
    margin-left: 80px;
    display: block;
}

.sp-count-word span {
    text-decoration: none;
    color: #FF0000;
}

.edit-res-modal .modal-footer{
    border: none;
}

//备课统计
.statistic-box {
    padding: 15px 5px;
}



