#preview-container .modal-content{
    background: #fff;
}
#preview-container .modal-footer
{
    border-top:1px solid #ccc;
    border: none;
    text-align: right;
}

#preview-container .modal-body textarea{
    width: 100%;
    min-height: 80px;
    border-radius: 10px;
    outline: none;
}


#preview-container{
    margin-top: -30px;
}
#preview-container .header-nav-tips
{
    color: #fff;
}
#preview-container .header-nav-tips .icon-angle-right
{
    margin:0px 5px;
}
#preview-container .header-nav-tips .nav_left
{
    float: left;
    width: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 24px;
    
}
#preview-container .mulu
{
    cursor: pointer;
    position: relative;
}

#preview-container .mulu .popBox
{
    min-height: 250px;
    width: 300px;
    border: 2px solid @color5;
    background: @color6;
    position: absolute;
    z-index: 20;
    left: -200px;
    top:20px;
    color: @color12;
    padding: 10px;
    box-shadow: 0px 0px 5px @color5;
    display: none;
}
#preview-container .mulu:hover{
    text-decoration: underline;
}
#preview-container .mulu:hover .popBox
{
    display: block;
}
#preview-container .popBox ul{
    padding-left: 0px;
}
#preview-container .popBox li{
    margin-bottom: 20px;
}
#preview-container .selected{
    color: @color1;
}
#preview-container .header-nav-tips .nav_right
{
    float: right;
    width: 30%;
    margin-left: 5%;
}
.preview-content{
    background: #fff;
    padding: 15px;
}
.res-intro{
    border: 1px dashed #666;
    padding: 10px;
    font-size: 16px;
    
}
.res-intro .intro-banner{
    font-weight: bold;
}
.res-intro span{
    line-height: 40px;
    margin: 5px;
    margin-right: 30px;
}

.res-conmment{
    margin: 25px 0;
}
.create-comment{
    
}
.comment-info span{
    margin-right: 15px;
}
 

.create-comment textarea{
    width: 99%;
    height: 100px;
    background: #eee;
    border: none;  
}
.conment-list{
    margin-top: 30px;
}
.comment-type span {
    color: #fff;
    background: #999;
    padding: 5px 10px;
    cursor: pointer;
}
.comment-active{
    background: #219b82 !important;
}
.coment-item{
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #999;
}
.coment-item .item-user-date{
    color: #999;
    font-size: 14px;
}
.coment-item .item-content{
    margin-top: 10px;
    word-break: break-all;
}
#preview-container .editBox
{
    text-align: right;
    padding-right: 5px;
}

#preview-container .publish
{
    float: right;
    margin-right: 10px;
    width: 120px;
    background: @color5;
}
#preview-container .shen
{
    color: #E23C6C;
}
#preview-container .line{
    border: 2px solid @color1;
}
#preview-container .more
{
    background: @color1;
    cursor: pointer;
    line-height: 32px;
    
}

/*切换资源类型*/
#preview-container .slide_head
{
    height: 30px;
    line-height: 28px;
    cursor: pointer;
    margin-top: 10px;
    background:@color12;
    color: @fff;
    padding: 0px 5px;
    border-bottom: 1px solid @color2;
    border-left: 10px solid @color2;
}
#preview-container .slide-list
{
    margin-top: 0px;
}
#preview-container .slide_head .type_box{
    height: 30px;
    width: 60%;
    float: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    position: relative;
}
#preview-container .slide_head i{
    margin-left: 5px;
}
#preview-container .pop-type-box
{
    width: 60%;
    position: absolute;
    z-index: 20;
    top:22px;
    right: 15px;
    display: none;
    padding-top: 20px;
}
#preview-container .pop-type
{
   
    border: 2px solid @color5;
    background: @fff;
    color: @color12;
   
   
}
#preview-container .slide_head:hover .pop-type-box
{
    display: block;
}

#preview-container .pop-type ul{
    padding-left: 0px;
    text-indent: 5px;
}
.pop-type li{
    height: 32px;
    line-height: 31px;
    border-top: 1px solid #ccc;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*固定到底部*/
#preview-container .bottom-fixed
{
    height: 80px;
    background: rgba(10,10,10,0.7);
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    
}
#preview-container .fix-inner
{
    width: 70%;
    margin: 0 auto;
    height: 100%;
    color: #fff;
    text-align: center;
    font-size: @leftTabSize;
    line-height: 75px;
    font-size: 18px;
}
#preview-container .fix-inner span{
    margin:0px 10px;
}
#preview-container .fix-inner .down-orign
{
    text-decoration: underline;
    float: right;
    cursor: pointer;
}
.comment-star, .comment-count,{
    float: left;
}

#preview-container .fix-inner .btn-danger
{
    float: right;
    margin: 20px;
    font-size: 18px;
}
.comment-star i{
    margin:0px 2px;
}

.starLight{
    color: #DFA515;
   
}
.starHover{
    color: #DFA515;
    cursor: pointer;
}