#search-container
{
    
}
#search-container .list_box
{
    background: #fff;
    overflow: hidden;
}
#search-container .res-list-main
{
    background: #fff;
    margin: 10px;
}
#search-container .res-ul-list
{
    border-top: 1px solid #d3d3d3;
    padding-left: 0px;
  
}
#search-container .res-list-item{
    border-bottom: 1px solid #D3D3D3;
    margin: 0px;
    padding: 15px 0px;
}
#search-container .res-list-thumb{
    border: 2px solid #219B81;
    height: 130px;
    width: 165px;
}
#search-container .res-checkbox
{
    top:60px;
}
#search-container .res-list-tools
{
    margin-top: 15px;
}
#search-container .res-title{
    margin-top: 20px;
    margin-bottom: 20px;
}
#search-container .star_box
{
    margin-left: 110px;
}
#search-container .res-download
{
    margin-top: 15px;
    cursor: pointer;
    padding-left: 4px;
}
@media  screen and (max-width: 1000px){
 #search-container .star_box
{
    margin-left: 0px;
    display: block;
   
}   
#search-container .res-title{
    margin-top: 15px;
    margin-bottom: 10px;
}
}
