// slide样式
@slideBgColor: #5D5D5D;
.slide-container{
    margin-top: 15px;
}
.slide-container .slide-content{
    position: relative;
    height: 700px;
}
.slide-container .slide-arrow{
    position: absolute;
    top:40%;
    z-index: 9999999;
    color: #fff;
    background: rgba(255,255,225,0.6);
    color: #12879A;
    border-radius: 100px;
    padding:5px 20px;
    font-size: 40px;
    cursor: pointer;
}
.slide-container .slide-arrow2{
    position: absolute;
    top:50px;
    z-index: 9999999;
    color: #fff;
    color: #12879A;
    border-radius: 100px;
    padding:5px 15px;
    font-size: 30px;
    cursor: pointer;
}
.slide-container .slide-arrow:hover{
    background: rgba(0,0,0,0.6);
}
.slide-container .slide-arrow2:hover{
    background: rgba(0,0,0,0.2);
    color: #ddd;
}
.slide-container .slide-next{
    right:0
}
.slide-container .slide-content-inner{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.slide-container .slide-content-inner img{
    height: 100%;
}
.slide-fullscreen{
    margin-top: 6px;
    text-align: center;
    padding: 6px 10px;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    color: #333;
}
.slide-fullscreen:hover{
    color: #666;
}
.slide-container .slide-tools{
    position: relative;
}

.slide-thumbnail{
    margin: 30px 50px;
}
.slide-thumbnail li{
    float: left;
    width: 14.5%;
    margin: 6px;
    height: 180px;
    position: relative;
}
.slide-thumbnail img{
    width: 100%;
//  height: 100px;
}
.slide-thumbnail img:hover{
    width: 99%;
    border: 2px solid #009CD6;
}
.slide-title{
    position: absolute;
    bottom: 0;
}
.slide-list {
    background: @slideBgColor;
    color: #fff;
    padding: 10px;
    text-align: center;
    height: 700px;
    overflow-y: auto;
    margin-top: 15px;
}
.slide-list .slide-list-item{
   padding:10px 3px;
   cursor: pointer;
}
.slide-list .slide-list-item img:hover{
    border: 2px solid #12879a;
}
.slide-list img{
    width: 100%;
}
.slidesCustom{
    cursor: pointer;    
}
.slidesCustom .slide-title{
    width: 160px;    
}
