/*顶部*/
.res-header {
}
.res-header {
  height: 55px;
  background: @resNavHeaderBGColor;
  line-height: 55px;
  font-size: @resNavFontSize;
  color: #fff;
}
.res-header label {
  padding-left: 30px;
}
.res-header img {
  position: relative;
  top: 3px;
}
.res-header select {
  color: @color11;
  width: 66px;
  height: 27px;
  font-size: 15px;
}
.res-header .icon-angle-right{
    color: #fff;
    font-size: 32px;
    padding:5px;
    
}
.res-filter {
  float: right;
}
.res-header .right-label {
  border-bottom: 1px solid #fff;
  padding: 0;
  margin-right:30px;
  cursor: pointer;
  display: inline-block;
  height: 40px;
}
.res-search {
  height: 30px;
  width: 343px;
  line-height: 30px;
  border: none;
  color:#333;
  padding-left: 5px;
}
.res-search-btn {
  width: 32px;
  height: 30px;
  background: #0094ce;
  display: inline-block;
  position: relative;
  top: 10px;
}
.res-header .icon-search{
    position: absolute;
    color: #fff;
    font-size: 16px;
    top: 8px;
    left: 8px;
}
.res-rtitle .version-wr {
  width: 19px;
  background: #12879A;
  padding: 4px;
  top: -2px;
  position: relative;
  left: -22px;
}
.select-tips {
  font-size: 20px;
  background: #fff;
  font-size: 18px;
  border: 1px solid #b5b5b5;
  display: inline-block;
  width: 66px;
  height: 27px;
  line-height: 27px;
  text-indent: 5px;
}
.res-rbody {
  display: block;
  background: @color6;
}
.res-rbody .res-school {
  border-bottom: 1px dashed @fff;
  line-height: 65px;
  color: @color1;
  font-size: 20px;
}
.res-rbody a:hover {
  color: #e78024;
}
.res-school-phase {
  display: inline-block;
  width: 115px;
  text-align: center;
  color: @color1;
}
.res-school-phase-sort1 {
  display: inline-block;
  
}
.res-school-phase-sort a,
.res-school-phase-sort1 a,
.res-school-phase-sort2 a {
  padding-right: 35px;
  padding-left: 10px;
}
.res-school-phase-sort2 {
  display: none;
  width: 1000px;
  margin-left: 119px;
}
.res-school-phase-more {
  cursor: pointer;
  float: right;
  margin-right: 40px;
}
.img-transform {
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}
.res-rbody .orange-style-current {
  padding: 5px 10px;
  color: #fff;
  background: #e78024;
  border-radius: 2px;
  margin-right: 25px;
}
.res-rbody .orange-style-current:hover {
  color: #fff;
}
/*中间*/
.res-r-main {
  height: 925px;
}
.res-r-main-s {
  height: 300px;
  display: none;
  margin-top: 30px;
}
.res-rli {
  height: 1130px;
  border: 1px solid #bebebe;
  margin: 0 auto;
  margin-top: 50px;
}
/*右侧*/
.res-rright {
  float: left;
  background: #fff;
  height: 1130px;
}
.res-rright .res-rright-title {
  color: #666666;
  background: #dedede;
  line-height: 58px;
  text-align: center;
  font-size: 18px;
  height: 58px;
  border-bottom: 2px solid #0094ce;
}
.res-rright .res-rright-title div:first-child {
  width: 54px;
}
.res-rright .res-rright-title div:last-child {
  width: 53px;
}
.res-rright .res-rright-title div {
  float: left;
  height: 58px;
  line-height: 58px;
  cursor: pointer;
  padding: 0 5px;
}
.res-rright .res-rright-title .line-img {
  float: left;
  height: 60px;
  line-height: 60px;
}
.current-res {
  background: #fff;
  color: #0094ce;
  border-top: 2px solid #0094ce;
  border-left: 2px solid #0094ce;
  border-right: 2px solid #0094ce;
}
.res-rright-body .res-r-hide {
  display: none;
}
.res-rright-body .res-r-show {
  display: block;
}
.res-r-top {
  height: 82px;
  border-bottom: 1px solid #ccc;
}
.res-r-top p {
  margin-top: 25px;
  margin-left: 20px;
}
.res-r-top span {
  color: #4d4d4d;
  font-size: 20px;
  padding-right: 10px;
}
.res-r-top a {
  color: #808080;
  padding: 2px 10px;
  font-size: 20px;
  cursor: pointer;
}
.res-r-top a:hover {
  color: #26a3d5;
}
.res-r-top .res-co {
  background: #7ac1e5;
  border: 1px solid #26a3d5;
  border-radius: 3px;
  color: #fff;
}
.res-r-top .res-co:hover {
  color: #fff;
}
.message-tab {
  width: 620px;
  float: right;
  margin-top: 15px;
}
.message-tab a {
  font-size: 18px;
  padding: 0 5px 0 0px;
}
.meg-tab1,
.meg-tab2 {
  position: relative;
  cursor: pointer;
}
.meg-tab1 {
  top: 0px;
  margin-left: 12px;
}
.meg-tab2 {
  left: -6px;
  top: 1px;
}
/*全部列表*/
.res-r-main ul {
  width: 835px;
  margin: 0 auto;
  margin-top: 35px;
}
.res-r-main ul li {
  height: 125px;
  border: 1px solid #b3b3b3;
  margin-bottom: 25px;
}
.res-ul span {
  height: 125px;
  display: block;
  float: left;
}
.res-ul .span1 {
  width: 56px;
}
.in-checkbox {
  width: 19px;
  height: 25px;
  padding: 0 5px 0 0;
  background: url(../img/d.png) no-repeat;
  display: block;
  clear: left;
  float: left;
  position: relative;
  left: 20px;
  top: 50px;
}
.check-img {
  position: relative;
  top: 48px;
  left: -9px;
  display: none;
}
.res-ul .span2 {
  width: 120px;
}
.res-ul .span2 img {
  height: 90px;
  width: 118px;
  margin-top: 18px;
}
.res-ul .span3 {
  width: 230px;
  padding-left: 20px;
}
.text-title {
  color: #0e0f10;
  font-size: 14px;
  margin-top: 18px;
  font-weight: bold;
}
.text-size {
  color: #858585;
  font-size: 10px;
  padding-top: 15px;
}
.res-ul .span4 {
  width: 207px;
}
.res-ul .span4 img {
  cursor: pointer;
}
.res-ul .span4:hover {
  visibility: visible;
}
.res-ul .span4 img {
  margin-top: 40px;
  padding-left: 22px;
}
.res-ul .span5 {
  float: right;
}
.res-ul .span5 p {
  color: #858585;
  font-size: 12px;
  padding-top: 16px;
  text-align: right;
  margin-right: 15px;
  clear: both;
}
.res-ul .span5 .qu {
  color: #fff;
  width: 18px;
  height: 18px;
  line-height: 18px;
  padding: 4px 5px;
  border-radius: 3px;
  background: #e96e51;
  font-weight: bold;
  float: right;
  display: inline-table;
}
/*被选中的样式*/
.res-r-main ul .checked-style {
  border: 1px solid #009cd6;
  background: #fff;
}
/*li当划过时改变颜色*/
.res-ul li:hover {
  background: #dbeef1;
}
/*分页*/
.page {
  text-align: center;
  margin-top: 50px;
}
.page a {
  width: 28px;
  height: 28px;
  color: #858585;
  background: #d2d2d2;
  display: inline-block;
  line-height: 28px;
  border-radius: 3px;
}
.page img {
  position: relative;
  top: 2px;
}
.page .a-checked {
  background: #0094ce;
  color: #fff;
}
.page .go {
  background: none;
  width: 50px;
  float: right;
}
.page .go-style {
  background: #0094ce;
  border-radius: 50px;
  float: right;
  color: #fff;
  font-size: 10px;
  padding: 2px;
}
.page input {
  width: 50px;
  float: right;
  height: 25px;
  border-radius: 2px;
  border: 1px solid #858585;
  background: #d2d2d2;
  margin-left: 12px;
  margin-right: 12px;
}
/*缩略图*/
.li-s {
  width: 288px;
  height: 380px;
  border: 1px solid #b1b1b1;
  float: left;
  margin-left: 15px;
  margin-bottom: 25px;
}
.li-s-checked {
  border: 1px solid #0094ce;
}
.li-s .li-img {
  width: 99.9%;
  height: 202px;
}
.li-s .img-title {
  padding: 5px;
  color: #000;
  font-size: 20px;
  border-bottom: 1px solid #cbcbcb;
}
.li-s .s-left {
  width: 65%;
  float: left;
  margin-top: 4px;
}
.li-s .s-left p {
  color: #858585;
  font-size: 16px;
  padding-left: 5px;
}
.li-s .s-left .s-left-num {
  color: #0094ce;
}
.li-s .i-right {
  width: 35%;
  float: right;
}
.li-s .i-right .i-right-1 {
  text-align: center;
}
.li-s .i-right .i-right-1 img {
  width: 15px;
}
.li-s .i-right .i-right-2 img {
  position: relative;
  top: 11px;
  left: 18px;
}
/*# sourceMappingURL=systemres.css.map */
