// 上传 模态框
// 单独出来，相对独立
.upload-modal .modal-dialog{
    width: 900px;
    height: 650px;
}
.upload-modal-body{
    width: 900px;
    text-align: left;
    color: #666;
    font-size: 15px;
    height: 650px;
}
.upload-file-content, .upload-network-content{
    background: #fff;
    padding: 30px;
    padding-bottom: 0;
    border: 2px #41C9A9 solid;
    border-top: 8px #41C9A9 solid;
    text-align: center;
    min-height: 300px;
}
.modal-footer-img{
    width: 100%;
}
.upload-modal .modal-prepare-header{
    text-align: center;
}
.upload-file-content>div{
    min-height: 300px;
}
.upload-modal .edit-upload-res{
    padding: 15px 40px;
//  max-height: 700px;
//  overflow-y: auto;
}
.upload-modal .edit-upload-res table{
    width: 70%;
}
.upload-modal .res-info-list {
    padding: 6px 30px;
    padding-left: 100px;
}
.upload-modal .empty-header{
    height: 60px;
}
.red-tip{
    color: #DF3D6D;
    font-size: 22px;
    padding: 0 3px;
    vertical-align:middle
}
.upload-footer{
    text-align: center;
}
.unifyType-title{
    width: 16%;
    float: left;
}
.continue-upload{
    text-align: center;
}
.upload-tips{
    color: #9e9e9e;
    padding: 40px 130px;
    text-align: left;
}
.upload-tips-custom{
    padding: 0 130px;
    color: #DF3D6D;
}
.upload-tips div{

}
.upload-tips-icon{
    background: #fff;
    color: #808080;
    margin-left: -18px;
    font-size: 18px;
}
.upload-tips-custom .upload-tips-icon{
    color: #DF3D6D;
    font-size: 16px;
}
.upload-modal-body li > img{
    width: 175px;
}
.upload-modal-body .edit-list{
    padding: 6px 8px;
}
.upload-all,.upload-onebyone{
    cursor: pointer;
    margin-right: 15px;
}
.add-active{
    background: #E4F3F7;
    border: 1px solid  #89D3DB;
    border-bottom: none;
    padding: 3px 5px;
}
.upload-modal .edit-detail-box{
    background: #E4F3F7;
    padding-top: 20px;
    border-bottom: 1px dashed #666;
}
.upload-modal .edit-list-left{
    width: 86px;
}
.des-editor{
    width: 500px;
}
// 资源类型
.upload-modal .item-left,.upload-modal .item-right {
    float: left;
}
.upload-modal .item-right{
    width: 88%;
    margin-top: 5px;
}
.upload-modal .type-item{
    color: #666;
    font-size: 15px;
    margin: 0 1px;
    padding: 1px 2px;
    cursor: pointer;
}
.upload-modal .type-item:hover{
    color: #fff;
    background: #3FBBCF;
}
.upload-modal .selected{
    color: #fff;
    background: #3FBBCF;
}
.upload-modal .menu-drop-main .menu-drop-list li{
    float: none;
}
.upload-modal .menu-drop-main .menu-drop-list{
    max-height: 200px;
    overflow-y: auto;
}
.upload-modal .edit-list-right{
    margin-top: 6px;
}
.upload-modal .menu-drop-main .menu-drop-list .menu-drop-main {
    width: 100% !important;
}
.upload-modal .tree-embed{
    position: static;
    margin-top: 0;
}
.upload-modal .tree-embed span{

}
.upload-url-input{
    width: 300px;
    display: inline-block;
}
.upload-network-content img{
    width: 100%;
}
.upload-modal .edit-detail-box input{
    width: 400px;
    border-radius: 2px;
    border: none;
    padding: 7px;
}
.upload-modal .edit-detail-box textarea{
    height: 150px;
    width: 600px;
    border: none;
    border-radius: 2px;
}
.modal-prepare-body .prepare-new-box{
    margin-top: 105px;
    margin-left: 0px;
}
.modal-prepare-body .prepare-new-box input{
    padding: 6px 8px;
}
.modal-remove{
    float: right;
    color: #fff;
    font-size: 22px;
    line-height: 30px;
    background: #41C9A9;
    padding: 4px 8px;
    border-radius: 6px;
}
.modal-remove i:hover{
    color: #666;
}
