// 上传 模态框
// 单独出来，相对独立
.upload-modal{
    
}
.upload-modal-body{
    width: 800px;
    min-height: 500px;
}
.upload-file-content{
    background: #fff;
    padding: 15px;
    border: 2px #41C9A9 solid;
    border-top: 8px #41C9A9 solid;
    border-bottom: none;
    text-align: center;
}
.upload-file-content>div{
    min-height: 300px;
}
