<!--系统资源页头部-->
<div class="res-header">
	<!-- 选择 导航 展示-->
	<label>您已选择：</label>
	<select class="res-select-grade">
		<option>小学</option>
		<option>初中</option>
		<option selected>高中</option>
	</select>
	<i class="icon-angle-right"></i>
	<select class="res-select-subject">
		<option>语文</option>
		<option>数学</option>
		<option selected>英语</option>
	</select>
	<i class="icon-angle-right"></i>
	<a class="select-tips">全部</a>
	<div class="res-filter">
		<label class="right-label">收起筛选</label>
		<input class="res-search" type="search" placeholder="在当前条件下搜索" />
		<span class="res-search-btn">
			<i class="icon-search"></i>	   
		</span>
	</div>
</div>

<!--筛选主内容 -->
<div class="res-navbody">
	<div class="res-body-content res-grade">
		<span class="res-content-left">学段:</span>
		<span class="select-item res-grade-content">小学</span>
		<span class="select-item res-grade-content">初中</span>
		<span class="select-item res-grade-content">高中</span>
	</div>
	<div class="res-body-content res-subject">
		<div class="res-content-left">学科:</div>
		<div class="res-subject-wrapper"> 
			<span class="select-item res-subject-content">语文</span>
			<span class="select-item res-subject-content">数学</span>
			<span class="select-item res-subject-content">英语</span>
			<span class="select-item res-subject-content">物理</span>
			<span class="select-item res-subject-content">化学</span>
			<span class="select-item res-subject-content">地理</span>
			<span class="select-item res-subject-content">历史</span>
			<span class="select-item res-subject-content">政治</span>
			<span class="select-item res-subject-content">政治</span>
			<span class="select-item res-subject-content">政治</span>
			<span class="select-item res-subject-content">政治</span>
			<span class="select-item res-subject-content">政治</span>
			<span class="select-item res-subject-content">政治</span>
			<span class="select-item res-subject-content">政治</span>
			<span class="select-item res-subject-content">政治</span>
			<span class="select-item res-subject-content">政治</span>
			<span class="select-item res-subject-content">政治</span>
			<span class="select-item res-subject-content">政治</span>
			<span class="select-item res-subject-content">政治</span>
		</div>
		<span class="res-more">
		   	<a>更多<i class="icon-angle-down"></i></a>
		</span>
	</div>
	<div class="res-body-content res-material-version">
		<div class="res-content-left">版本:</div>
		<span class="select-item res-material-content">北师大版本</span>
		<span class="select-item res-material-content">人教版</span>
		<span class="select-item res-material-content">鲁教版</span>
		<span class="select-item res-material-content">苏科版</span>
		<span class="select-item res-material-content">粤教版</span>
		<span class="select-item res-material-content">华东师大版本</span>
	</div>
	<div class="res-content-footer">
		<img src="assets/images/res-nav-footer.png">
		<div></div>
	</div>
</div>