<!--系统资源页头部-->
<div class="res-header">
		<!-- 选择 导航 展示-->
		<div class="res-rtitle">
			<label>您已选择:</label>
			<select class="res-select-grade">
				<option>小学</option>
				<option>初中</option>
				<option selected>高中</option>
			</select>
			<img src="assets/img/next.png" />
			<select class="res-select-subject">
				<option>语文</option>
				<option>数学</option>
				<option selected>英语</option>
			</select>
			<img src="assets/img/next.png" />
			<a class="select-tips">全部</a><img class="version-wr" src="assets/img/wr.png" />
			<div class="c-pos">
                <label class="right-label">收起筛选</label>
			   	<input class="res-search" type="search" placeholder="在当前条件下搜索"/>		   
			   	<span class="res-search-btn">
			   		<img src="assets/img/glass.png"/>		   
				</span>
			</div>
		</div>	
		
		<!--显示隐藏-->
		<div class="res-rbody">
			<div class="line1">
				<span class="span-1">学段:</span>
				<span class="span-2">
		   	   	   	<a>小学</a>
		   	   	   	<a>初中</a>
		   	   	   	<a>高中</a>
		   	   	   </span>
			</div>
			<div class="line2">
				<span class="span-1">学科:</span>
				<span class="span-21">
		   	   	   	<a>语文</a>
		   	   	   	<a>数学</a>
		   	   	   	<a>英语</a>
		   	   	   	<a>a</a>
		   	   	   	<a>b</a>
		   	   	   	<a>c</a>
		   	   	   	<a>d</a>
		   	   	   	<a>e</a>
		   	   	   	<a>f</a>
		   	   	   	<a>g</a>
		   	   	   	<a>h</a>
		   	   	   
		   	   	   </span>
				<span class="span-3">
		   	   	   	<a>更多</a>
		   	   	   	<img src="assets/img/b-a.png"/>
		   	   	   </span>
				<div class="span-22">
					<a>i</a>
					<a>j</a>
					<a>k</a>
					<a>l</a>
					<a>m</a>
					<a>n</a>
					<a>o</a>
					<a>p</a>
					<a>q</a>
					<a>r</a>
					<a>s</a>
				</div>
			</div>
			<div class="line3">
				<span class="span-1">版本:</span>
				<span class="span-2">
		   	   	   	<a>北师大版本</a>
		   	   	   	<a>人教版</a>
		   	   	   	<a>鲁教版</a>
		   	   	   	<a>苏科版</a>
		   	   	   	<a>粤教版</a>
		   	   	   	<a>华东师大版本</a>
		   	   	   </span>
			</div>
		</div>
	</div>