<div class="res-content-header"></div>
<div id="res-content-right">
	<div class="res-header-catogry">
		<span class="catogry-item" ng-repeat="v in pools track by $index" ng-class="{'catogry-item-active':isPoolActive(v.id)}" ng-click="typeAndFormat($index,0)">{{v.name}}</span>
	</div>
	<div class="res-header-type">
		<span class="type-title">资源类型:</span>
		<span class="type-list" ng-repeat="v in types track by $index" ng-class="{'type-active':isTypeActive(v.id)}" ng-click="listFormat($index)"> {{v.mtype}} </span>
	</div>
	<div class="res-header-type">
		<span class="type-title">资源格式:</span>
		<span class="type-list" ng-repeat="v in formats track by $index" ng-class="{'type-active':isFormatActive($index)}" ng-click="filterFormat($index)"> {{ v}}</span>
	</div>
	<div class="statistic-tab">
		<span class="statistic-item" ng-click="dataSortByType(0)" ng-class="orderBy==0?'active':''"><i class="icon-bar-chart"></i>综合排序</span>
		<span class="statistic-item" ng-click="dataSortByType(1)" ng-class="orderBy==1?'active':''"><i class="icon-bar-chart"></i>最多下载</span>
		<span class="statistic-item" ng-click="dataSortByType(2)" ng-class="orderBy==2?'active':''"><i class="icon-bar-chart"></i>最新发布</span>
		<span class="statistic-item"></span>
		<span class="statistic-item" ng-click="switchList(true)" ng-class="isList==true?'active':''"><i class="icon-th-list"></i></span>
		<span class="statistic-item" ng-click="switchList(false)" ng-class="isList==false?'active':''"><i class="icon-th-large"></i></span>
	</div>

	<div class="res-list-main">
		<ul class="res-ul-list" ng-show="isList">
			<div class="loading" ng-show="isLoading"><i class="icon-spinner icon-spin icon-3x"></i></div>
			<li class="animated slideInUp res-list-item " ng-repeat="list in resList.list track by $index" ng-init="parentIndex = $index">
				<input id="{{$index}}" class="res-checkbox" checklist-model="resList.select" checklist-value="list.id" type="checkbox" ng-click="addItemSelect(list.id)" />
				<label for="{{$index}}"></label>
				<img class="prepare-shop res-list-thumb" ng-src="{{list.thumbnailpath?list.thumbnailpath:'null'}}" fallback-src="assets/img/sample.png" ui-sref="previewres({resId:list.id,curTfcode:curTfcode})">
				<span class="res-list-info" ui-sref="previewres({resId:list.id,curTfcode:curTfcode})">
					<label class="res-title text-ellipsis">{{ list.title }}</label>
					<label class="res-type">类型: {{ list.mtype }}</label>
					<label class="res-size">
						<res-size data-value="{{list.fsize}}"></res-size>
					</label><br>
					<label class="res-star"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></label>
					
					<label class="res-number">{{list.clickTimes}}浏览/{{list.dloadTimes}}下载</label>
				</span>
				<span class="res-list-tools">
					<div class="res-select addPrepare" ng-click="addToCurrentPrepare(parentIndex)">
						加入备课夹
						<div class="res-prepare-list">
							<div class="res-prepare-list-item addPrepareInner" ng-repeat="item in prepareList track by $index"  ng-click="addToPrepare($event, parentIndex, $index)">{{item.title}}</div>
							<div class="res-prepare-list-item" ng-show="prepareList.length == 0">当前目录节点下还没有备课夹，点击加入备课夹，会默认创建</div>
						</div>
					</div>
					<br>
					<label class="res-download" ng-click="resDownload(list.id)"><i class="icon-download-alt"></i>点击下载</label>
				</span>
			</li>
		</ul>
		<ul class="res-ul-thubmlist" ng-show="!isList">
			<div class="loading" ng-show="isLoading"><i class="icon-spinner icon-spin icon-3x"></i></div>
			<li class="animated slideInUp res-thubmlist-item col-md-4" ng-repeat="list in resList.list track by $index"  ng-init="parentIndex = $index">
				<input id="{{$index}}" class="res-checkbox" checklist-model="resList.select" checklist-value="list.id">
				<label for="{{$index}}"></label>
				<img class="prepare-shop res-thubmlist-thumb" ng-src="{{list.thumbnailpath}}" fallback-src="assets/img/title.jpg">
				<div class="res-thubmlist-info">
					<label class="res-title text-ellipsis">{{ list.title }}</label>
					<label class="res-type">类型: {{ list.mtype }}</label>
					
					<label class="res-size">
						<res-size data-value="{{list.fsize}}"></res-size>
					</label><br>
					<label class="res-star"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></label>
					
					<label class="res-number">{{list.clickTimes}}浏览/{{list.dloadTimes}}下载</label>
				</div>
				<div class="res-thubmlist-tools thubmlist-tools-custom">
					<label class="res-download" ng-click="resDownload(list.id)"><i class="icon-download-alt"></i>点击下载</label>
					<div class="res-select addPrepare  addPrepare-custom" ng-click="addToCurrentPrepare(parentIndex)">
						 加入备课夹
						<div class="res-prepare-thumb" >
							<div class="res-prepare-list-item addPrepareInner" ng-repeat="item in prepareList track by $index" ng-click="addToPrepare($event, parentIndex, $index)">{{item.title}}</div>
							<div class="res-prepare-list-item" ng-show="prepareList.length == 0">当前目录节点下还没有备课夹，点击加入备课夹，会默认创建</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="noDataCtrl" ng-show="noDataCtrl">当前选择下还没有资源哦</div>
		<div style="clear:both"></div>
		<div class="page-ctrl" ng-show="isLoadingFinish">
			<input id="test" class="res-checkbox-page" type="checkbox" ng-model="VM.checkAll" ng-click="checkAll()" /> 本页全选
			<label for="test"></label>
			<span class="res-text-total"> 共 {{bigTotalItems}}条，</span>
			<span class="res-text-perpage"> 每页显示<input type="text" ng-model="VM.perPage" ng-blur="changPerPage()"/>条</span>
			
			<div class="res-select addPrepare res-add-prepare-all">
				加入备课夹
				<div class="res-prepare-list addPrepare">
					<div class="res-prepare-list-item" ng-repeat="item in prepareList track by $index">{{item.title}}</div>
					<div class="res-prepare-list-item" ng-show="prepareList.length == 0">当前目录节点下还没有备课夹，点击加入备课夹，会默认创建</div>
				</div>
			</div>
			<label class="res-download res-download-all" ng-click="downLoadSelect()"><i class="icon-download-alt"></i>点击下载</label>
		</div>
		<div class="coms-pagination" ng-show="isLoadingFinish">
		 	<uib-pagination total-items="bigTotalItems" ng-model="VM.currentPageCtrl" max-size="maxSize"  boundary-link-numbers="true" previous-text="上一页" next-text="下一页" num-pages="perPage" ng-change="pageChanged()"></uib-pagination>
			<div class="page-go">
				<span class="page-text">转到</span>
				<input class="page-input"/>
				<span class="page-go-btn">Go</span>
			</div>
		</div> 
	</div>
</div>