<div id="prepare-content-list">
	<div class="search-prepare">
		<input type="search" placeholder="在当前条件下搜索" />
		<span>
			<i class="icon-search"></i>	   
		</span>
	</div>
	<div class="clearfix"></div>
	<div class="prepare-all-list" ng-repeat="list in listData track by $index">
		<div class="prepare-all-header">
			<img class="prepare-all-header-img" src="assets/img/prepare/prepare-list.png" />
			<span>{{list.date}}</span>
			<div class="coms-pagination">
			 	<uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize"  boundary-link-numbers="true" previous-text="&lsaquo;" next-text="&rsaquo;"></uib-pagination>
				<div class="page-go">
					<span class="page-text">转到</span>
					<input class="page-input"/>
					<span class="page-go-btn">Go</span>
				</div>
			</div> 
		</div>
		<div class="prepare-gallery row">
			<!--<span class="leftbtn icon-angle"><i class="icon-angle-left"></i></span>-->
			<div class="list-all-item col-md-3"  ng-repeat="item in list.children">
				<div class="list-all-title">{{$index+1}}、{{list.title}}</div>
				<img class="prepare-all-item-img" src="assets/img/title.jpg" />
				<br><br>
				<span class="zip-download"><i class="icon-cloud-download"></i> 打包下载</span>
				<span class="online-course"><i class="icon-play-circle"></i></span>
				<i class="icon-trash"></i>
			</div>
			<!--<span class="rightbtn icon-angle"><i class="icon-angle-right"></i></span>-->
		</div>
		<div class="clearfix"></div>
		
	</div>
</div>
