<div class="container" style="position: relative;">
		<button class="btn btn-success new-prepare" ng-click="newPrepare()">新建</button>
</div>
<div class="empty-nav empty-nav-custom"></div>
<div class="container" id="prepare-container">
	<div class="clearfix"></div>
	<div data-ng-include="'/coms/layout/views/res/res-header.html'"></div>

	<!--带目录显示-->
	<!--左侧目录-->
	<div class="col-md-3 catalog" ng-show="!VM.isList">
		<div class="catalog-header"></div>
		<div class="catalog-content">
			<div class="catalog-tip">
				<img src="assets/img/catalog/catalog-tip.png">
				<div class="catalog-text">{{currentVersion.name == '课标版'?'课标导航':'章节目录'}}</div>
			</div>
			<div class="catalog-tree" data-ng-include="'/coms/tree/views/tree.html'"></div>
		</div>

	</div>
	<!--右侧资源列表-->
	<div ng-show="!VM.isList" class="col-md-9" data-ng-include="'/coms/prepare/views/prepare-content.html'"></div>

	<!--不带目录显示-->
	<div ng-show="VM.isList" data-ng-include="'/coms/prepare/views/prepare-content-list.html'"></div>
</div>

<!-- 新建备课夹模态框 -->
<script type="text/ng-template" id="modal-prepare.html">
	<div class="modal-body modal-prepare-body">
		<div class="modal-prepare-header">新建备课夹</div>
		<div class="select-prepare-content">
			<div class="select-inner-content">
				<div class="modal-catogry">
					<span>选择目录：</span><br>
					<div class="tree-embed">
						<treecontrol id="tree-embed" class="tree-light" tree-model="treedata" on-selection="showSelected(node)" expanded-nodes="expandedNodes" selected-node="selected" options="opts">
							{{node.label}}
						</treecontrol>
					</div>
				</div>
				<div class="prepare-seperate"><i class="icon-angle-right"></i><i class="icon-angle-right"></i></div>
				<div class="prepare-title-box prepare-new-box">
					<input class="prepare-title-input" ng-model="prepareName" value="prepareName">
					<!--<button class="btn-op">确定</button>-->
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<button class="btn btn-lg btn-success btn-custom-modal" ng-click="prepareOK()">确定</button>
			<button class="btn btn-lg btn-success btn-custom-modal" ng-click="prepareCancel()">取消</button>
	</div>
</script>

<!-- 移动/复制备课夹模态框 -->
<script type="text/ng-template" id="modal-prepare-op.html">
	<div class="modal-body">
		<div class="modal-prepare-header">{{opName}}</div>
		<div class="move-prepare-content">
			<div class="select-inner-content">
				<div class="modal-catogry">
					<span>选择目录：</span><br>
					<div class="tree-embed">
						<treecontrol id="tree-embed" class="tree-light" tree-model="treedataSelect" on-selection="showSelected(node)" expanded-nodes="expandedNodes" selected-node="selected" options="opts">
							{{node.label}}
						</treecontrol>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<button class="btn btn-lg btn-success btn-custom-modal" ng-click="prepareOK()">确定</button>
		<button class="btn btn-lg btn-success btn-custom-modal" ng-click="prepareCancel()">取消</button>
		</div>
	</div>
</script>

<!-- 调整资源 到备课夹-->
<script type="text/ng-template" id="move-prepare.html">
<div class="modal-body">
		<div class="modal-prepare-header">{{}}</div>
		<div class="select-prepare-content">
			<div class="select-inner-content">
				<div class="modal-catogry">
					<span>选择目录：</span><br>
					<div class="tree-embed">
						<treecontrol id="tree-embed" class="tree-light" tree-model="treedataSelect" on-selection="showSelected(node)" expanded-nodes="expandedNodes" selected-node="selected" options="opts">
							{{node.label}}
						</treecontrol>
					</div>
				</div>
				<div class="prepare-seperate"><i class="icon-angle-right"></i><i class="icon-angle-right"></i></div>
				<div class="modal-prepare-name">
					<span>选择备课夹:</span>
					<!--<select ng-change="selectPrepare(currentPrepare)" ng-model="currentPrepare">-->
					<div class="select-prepare-list">
						<!--<div class="ctrls-prepare-list-item text-ellipsis" editable-text="VM.newPrepare">{{ VM.newPrepare}}</div>-->
						<div ng-repeat="pp in prepares track by $index" ng-class="{'select-active':isActive($index)}" ng-click="selectPrepare($index)" ng-bind="pp.title" value="{{pp}}"></div>
						<div ng-show="prepares.length == 0">当前选择下没有备课夹，请重新选择</div>
					</div>
					<!--</select>-->
				</div>
			</div>
			<div class="clearfix"></div>
			<button class="btn btn-lg btn-success btn-custom-modal" ng-click="moveOk()">确定</button>
			<button class="btn btn-lg btn-success btn-custom-modal" ng-click="moveCancel()">取消</button>
		</div>
	</div>
</script>

<script type="text/ng-template" id="prepare-edit-modal.html">
<div class="edit-res-modal">
	<div class="modal-header">
		<h5>编辑资源</h5>
	</div>
    <div class="modal-body">
    	<p>为方便资源的管理，请填写完整的资源信息</p>
    	<div class="edit-detail-box">
    		<div class="edit-list">
    			<img class="red-star-icon" src="assets/img/personalcenter/red_star_icon.png" />
    			<span class="sp-label">资源名称</span>
    			<input type="text" ng-model="res.title" />
    			<button class="btn-op" ng-click="setResTitle(res.title)">确定</button>
    		</div>
    		<div class="edit-list">
    			<img class="red-star-icon" src="assets/img/personalcenter/red_star_icon.png"/>
    			<span class="sp-label">资源类型</span>
    			<span class="tag active" ng-bind="res.unifyType"></span>
    		</div>
    		<div class="edit-list">
    			<img class="red-star-icon" src="assets/img/personalcenter/red_star_icon.png"/>
    			<span class="sp-label">上传至：</span>
    			<div class="select-loc-box">
	    			<div class="select-nav-item">
						<div class="menu-drop">
							<div class="trigger">
								<span class="select-current" href="">{{VM.currentGrade}}</span>
								<i class="icon-angle-down"></i>
								<i class="icon-angle-up"></i>
							</div>
							
							<div class="menu-drop-main">
								<ul class="menu-drop-list">
									<li ng-repeat="grade in VM.grade track by $index" ng-class="VM.currentGradeSeclet[$index]?'selected':''" ng-click="VM.selectGrade($index)"><span>{{ grade.name }}</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="select-nav-item">
						<div class="menu-drop">
							<div class="trigger">
								<span class="select-current">{{VM.currentSubject.name}}</span>
								<i class="icon-angle-down"></i>
								<i class="icon-angle-up"></i>
							</div>
							
							<div class="menu-drop-main">
								<ul class="menu-drop-list">
									<li ng-repeat="subject in VM.subject track by $index" ng-class="VM.currentSubjectSeclet[$index]?'selected':''" ng-click="VM.selectSubject($index)"><span>{{ subject.name }}</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="select-nav-item"  ng-show="VM.currentVersionShow || VM.currentVersionTmpShow">
						<div class="menu-drop">
							<div class="trigger" ng-click="closeCurrentVersion()">
								<span class="select-current" href="">{{VM.currentVersion.name}}</span>
								<i class="icon-remove"></i>
							</div>
						</div>
					</div>
					<div class="select-nav-item"  ng-show="VM.currentMaterialShow || VM.currentMaterialTmpShow">
						<div class="menu-drop">
							<div class="trigger" ng-click="closeCurrentMaterial()">
								<span class="select-current" href="">{{VM.currentMaterial.name}}</span>
								<i class="icon-remove"></i>
							</div>
						</div>
					</div>
    			</div>
    		</div>
    		<div class="edit-list">
    			<img class="red-star-icon" src="assets/img/personalcenter/red_star_icon.png"/>
    			<span class="sp-label">共享范围</span>
    			<span class="tag active">仅自己可见</span>
    			<span class="tag">本校可见</span>
    			<span class="tag">本区可见</span>
    		</div>
    		<div class="edit-list">
    			<img class="red-star-icon" src="assets/img/personalcenter/red_star_icon.png"/>
    			<span class="sp-label">关键词</span>
    			<input type="text" ng-model="res.keywords" class="keyword-input" placeholder="多个关键词用分号隔开" />
    		</div>
    		<div class="edit-list">
    			<img class="red-star-icon" src="assets/img/personalcenter/red_star_icon.png"/>
    			<span class="sp-label">资源介绍</span>
    			<textarea ng-model="res.description" placeholder="选填，主要介绍资源的主要内容，方便资源的管理和分享，限200字">
    			</textarea>
    			<span class="sp-count-word"><span ng-model="res.description.length"></span>/200</span>
    		</div>
    	</div>
    </div>
    <div class="modal-footer">
    	<button class="btn-general" ng-click="editDone()">确定</button>
		<button class="btn-general" ng-click="close()">取消</button>
    </div>
</div>
</script>
