<div id="prepare-content-list">
	<div class="search-prepare">
		<input type="search" placeholder="在当前条件下搜索"  value="searchwords" ng-model="searchwords"/>
		<span ng-click="searchPrepare(searchwords)">
			<i class="icon-search"></i>	   
		</span>
	</div>
	<div class="clearfix"></div>
	<!-- 一周内 -->
	<div class="prepare-all-list" ng-hide="showSearchResults || withinWeekPrepare.list.length == 0">
		<div class="prepare-all-header">
			<img class="prepare-all-header-img" src="assets/img/prepare/prepare-list.png" />
			<span>本周({{ withinWeekPrepare.totalLines}})</span>
		</div>
		<div class="prepare-gallery" >
			<div class="list-box row">
				<!-- <div class="col-md-3" ng-repeat="list in listAllData | filter:{timeLabel:'withinweek'}"> -->
				<div class="col-md-3" ng-repeat="list in withinWeekPrepare.list">
					<div class="list-all-item ">
						<div class="list-all-title">{{$index+1}}、{{list.title}}</div>
						<img class="prepare-all-item-img" ng-src="{{list.imgPath?list.imgPath:'null'}}" fallback-src="prepare" ng-click="turnToPrepare(list.id)"/>
						<span class="zip-download" ng-click="zipPrepareList(list.id,list.title)"><i class="icon-cloud-download"></i> 打包下载</span>
						<span class="online-course"  ui-sref="onlineres({prepareId: list.id})"><i class="icon-play-circle"></i></span>
						<i class="icon-trash" ng-click="deletePrepare2(list,$event)"></i>
						<br>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="coms-pagination prepare-coms-pagination" ng-show="withinWeekPrepare.totalLines > 4">
				 	<uib-pagination total-items="bigWeekTotalItems" ng-model="VM.weekPageCtrl" max-size="maxSize"  boundary-link-numbers="true" previous-text="上一页" next-text="下一页" items-per-page="perPage" ng-change="pageWeekChanged()"></uib-pagination>
				</div> 
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<!-- 一月内 -->
	<div class="prepare-all-list" ng-hide="showSearchResults || withinMonthPrepare.list.length == 0">
		<div class="prepare-all-header">
			<img class="prepare-all-header-img" src="assets/img/prepare/prepare-list.png" />
			<span>这个月的早些时候({{ withinMonthPrepare.totalLines}})</span>
		</div>
		<div class="prepare-gallery" >
			<div class="list-box row">
				<!-- <div class="col-md-3" ng-repeat="list in listAllData | filter:{timeLabel:'withinweek'}"> -->
				<div class="col-md-3" ng-repeat="list in withinMonthPrepare.list">
					<div class="list-all-item ">
						<div class="list-all-title">{{$index+1}}、{{list.title}}</div>
						<img class="prepare-all-item-img" ng-src="{{list.imgPath?list.imgPath:'null'}}" fallback-src="prepare" ng-click="turnToPrepare(list.id)"/>
						<span class="zip-download" ng-click="zipPrepareList(list.id,list.title)"><i class="icon-cloud-download"></i> 打包下载</span>
						<span class="online-course"  ui-sref="onlineres({prepareId: list.id})"><i class="icon-play-circle"></i></span>
						<span ng-click="deletePrepare2(list,$event)"><i class="icon-trash"></i></span>
						<br>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="coms-pagination prepare-coms-pagination" ng-show="withinMonthPrepare.totalLines > 4">
				 	<uib-pagination total-items="bigMonthTotalItems" ng-model="VM.monthPageCtrl" max-size="maxSize"  boundary-link-numbers="true" previous-text="上一页" next-text="下一页" items-per-page="perPage" ng-change="pageMonthChanged()"></uib-pagination>
				</div> 
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<!-- 更早 -->
	<div class="prepare-all-list" ng-hide="showSearchResults || moreEarlyPrepare.list.length == 0">
		<div class="prepare-all-header">
			<img class="prepare-all-header-img" src="assets/img/prepare/prepare-list.png" />
			<span>更早{{moreEarlyPrepare.totalLines}}}</span>
		</div>
		<div class="prepare-gallery" >
			<div class="list-box row">
				<!-- <div class="col-md-3" ng-repeat="list in listAllData | filter:{timeLabel:'withinweek'}"> -->
				<div class="col-md-3" ng-repeat="list in moreEarlyPrepare.list">
					<div class="list-all-item ">
						<div class="list-all-title">{{$index+1}}、{{list.title}}</div>
						<img class="prepare-all-item-img" ng-src="{{list.imgPath?list.imgPath:'null'}}" fallback-src="prepare" ng-click="turnToPrepare(list.id)"/>
						<span class="zip-download" ng-click="zipPrepareList(list.id,list.title)"><i class="icon-cloud-download"></i> 打包下载</span>
						<span class="online-course"  ui-sref="onlineres({prepareId: list.id})"><i class="icon-play-circle"></i></span>
						<i class="icon-trash" ng-click="deletePrepare2(list,$event)"></i>
						<br>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="coms-pagination prepare-coms-pagination" ng-show="withinEarlyPrepare.totalLines > 4">
				 	<uib-pagination total-items="bigEarlyTotalItems" ng-model="VM.earlyPageCtrl" max-size="maxSize"  boundary-link-numbers="true" previous-text="上一页" next-text="下一页" items-per-page="perPage" ng-change="pageEarlyChanged()"></uib-pagination>
				</div> 
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<!--搜索结果-->
	<div class="prepare-all-list" ng-show="showSearchResults">
		<div class="prepare-all-header">
			<img class="prepare-all-header-img" src="assets/img/prepare/prepare-list.png" />
			<span>搜索结果</span>
		</div>
		<div class="prepare-gallery" >
			<div class="list-box row">
				<div class="col-md-3" ng-repeat="list in searchList">
					<div class="list-all-item ">
						<div class="list-all-title">{{$index+1}}、{{list.title}}</div>
						<img class="prepare-all-item-img" ng-src="{{list.imgPath?list.imgPath:'null'}}" fallback-src="prepare" ng-click="turnToPrepare(list.id)"/>
						<span class="zip-download" ng-click="zipPrepareList(list.id,list.title)"><i class="icon-cloud-download"></i> 打包下载</span>
						<span class="online-course"  ui-sref="onlineres({prepareId: list.id})"><i class="icon-play-circle"></i></span>
						<i class="icon-trash" ng-click="deletePrepare2(list,$event)"></i>
						<br>
					</div>
				</div>
				<div class="list-all-item" ng-show="searchList.length == 0">
					<br>
					没有搜索到相关内容，请更换搜索内容~	
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
