<div id="prepare-content">
	<div class="prepare-list" ng-repeat="list in listData track by $index">
		<div class="list-header" ng-click="switch($index)">
			<span class="list-header-title">{{$index+1}}、{{list.title}}</span>
			<i class="icon-edit edit-prepare"></i> 
			<i class="icon-trash" ng-click="deletePrepare($index,$event)"></i>
			<span class="online-course" ui-sref="onlineres({prepareId: list.id})"><i class="icon-play-circle"></i>在线授课</span>
			<span class="zip-download"><i class="icon-cloud-download"></i> 打包下载</span>
			
		</div>
		<div class="list-content" ng-show="list.active">
			<span class="hold-on"><i class="icon-plus-sign"></i>继续逛逛</span>
			<span class="local-res"><i class="icon-plus-sign"></i>本地资源</span>
			<div class="clearfix">
				
			</div>
			<div class="list-item" ng-repeat="item in list.children">
				<input type="checkbox"/>
				<img class="list-item-thumb" src="assets/img/title.jpg"/>
				<div class="item-info">
					<span class="item-info-title">{{item.title}}</span><br>
					<span class="item-info-type">类型: {{item.type}}</span>
					<span class="item-info-size">大小：{{item.size}}</span>
				</div>
				<span class="prepare-download"><img src="assets/img/prepare/download_icon.png"></i></span>
				<span><i class="icon-plus-sign"></i></span>
				<div class="right-tools">
					<div>基础资源</div>
					<span><i class="icon-plus-sign"></i></span>
					<span><i class="icon-plus-sign"></i></span>
					<span><i class="icon-plus-sign"></i></span>
					<span><i class="icon-plus-sign"></i></span>
				</div>
			</div>
		</div>
	</div>
	<!--<div class="coms-pagination">
		 	<uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize"  boundary-link-numbers="true" previous-text="上一页" next-text="下一页"></uib-pagination>
			<div class="page-go">
				<span class="page-text">转到</span>
				<input class="page-input"/>
				<span class="page-go-btn">Go</span>
			</div>
		</div> -->
</div>