
<div id="prepare-content">
	<div class="prepare-list" ng-repeat="list in listData track by $index" ng-init="parentIndex = $index">
		<div class="list-header" ng-click="switch($index)">
			<span class="list-header-title text-ellipsis" ng-hide="list.editPrepareTitle" title="{{list.title}}">{{$index+1}}、{{list.title}}</span>
			<span class="new-prepare-title" ng-show="list.editPrepareTitle"><input type="text" ng-model="list.title" value="list.title"><button class="btn-op" ng-click="setPrepareTitle($index)">确定</button></span>
			<i class="icon-edit edit-prepare" ng-click="editPrepare($index)" ng-show="list.active"></i> 
			<i class="icon-trash" ng-click="deletePrepare($index,$event)" ng-show="list.active"></i>
			<div class="sp-edit prepare-edit" ng-show="list.active">
				<img class="op-img" src="assets/img/prepare/edit_icon.png" default-src="assets/img/prepare/edit_icon.png" active-src="assets/img/prepare/edit_icon_active.png"/>
				<div class="popover">
					<ul>
						<li ng-click="opPrepareTo(list, 1)">移动到</li>
						<li ng-click="opPrepareTo(list, 2)">复制到</li>
					</ul>
				</div>
			</div>
			<span class="online-course" ng-click="turnToClass(list)"><i class="icon-play-circle"></i>在线授课</span>
			<span class="zip-download" ng-click="zipPrepare(list, -1)"><i class="icon-cloud-download"></i> 打包下载</span>
		</div>
		<div class="list-content" ng-show="list.active">
			<div ng-show="list.children.length>0">
				<span class="hold-on" ui-sref="systemres"><i class="icon-plus-sign"></i>继续逛逛</span>
				<span class="hold-on local-res" ng-click="uploadRes(list.id, $index)"><i class="icon-plus-sign"></i>本地资源</span>
				<div class="clearfix">
					
				</div>
				<div class="list-item" ng-class="{'item-active': item.active}" ng-repeat="item in list.children" ng-click="setItemActive($index, parentIndex)">
						<input id="{{parentIndex*10+$index}}" type="checkBox" class="check" ng-click="selectRes(item)" ng-checked="item.isSelected">
						<label for="{{parentIndex*10+$index}}"></label>
					
					<div class="img-thumb-list prepare-thumb-img">
						<img  ng-src="{{item.imgPath?item.imgPath:'null'}}" fallback-src="{{item.fileSuffix | lowercase}}" ng-click="previewRes(item)"/>
					</div>
					<div class="item-info">
						<span class="item-info-title text-ellipsis" title="{{item.title}}">{{item.title}}</span><br>
						<span class="item-info-type">类型: {{item.unifyType}}</span><br>
						<res-size data-value="{{item.size}}"></res-size>
					</div>
					<div class="prepare-download" ng-show="item.active">
						<img class="op-img" src="assets/img/prepare/download_icon.png" ng-click="resDownloadByResId(item.resId, item.fromFlag)">
					</div>
					<div class="sp-edit" ng-show="item.active">
						<img class="op-img" src="assets/img/prepare/edit_icon.png" default-src="assets/img/prepare/edit_icon.png" active-src="assets/img/prepare/edit_icon_active.png"/>
						<div class="popover">
							<ul>
								<li ng-click="editRes(item)" ng-show="item.fromFlag == 1">编辑</li>
								<li ng-click="opResTo(item, 1)">移动到</li>
								<li ng-click="opResTo(item, 2)">复制到</li>
							</ul>
						</div>
					</div>
					<div class="right-tools" ng-show="item.active">
						<div ng-show="item.fromFlag == 0">系统资源</div>
						<div ng-show="item.fromFlag == 3">校本资源</div>
						<div ng-show="item.fromFlag == 4">区本资源</div>
						<div ng-show="item.fromFlag == 1">本地上传</div>
						<br>
						<span ng-click="setItem(item.id, $index, parentIndex, 1)"><img class="op-img" default-src="assets/img/prepare/set_bottom_icon.png" active-src="assets/img/prepare/set_bottom_icon_active.png" src="assets/img/prepare/set_bottom_icon.png" title="置底"/></span>
						<span ng-click="setItem(item.id, $index, parentIndex, 3)"><img class="op-img" src="assets/img/prepare/back_icon.png" default-src="assets/img/prepare/back_icon.png" active-src="assets/img/prepare/back_icon_active.png" title="下移"></span>
						<span ng-click="setItem(item.id, $index, parentIndex, 2)"><img class="op-img" src="assets/img/prepare/move_icon.png" default-src="assets/img/prepare/move_icon.png" active-src="assets/img/prepare/move_icon_active.png" title="上移"></span>
						<span ng-click="setItem(item.id, $index, parentIndex, 4)"><img class="op-img" src="assets/img/prepare/set_top_icon.png" default-src="assets/img/prepare/set_top_icon.png" active-src="assets/img/prepare/set_top_icon_active.png" title="置顶"></span>
						<span ng-click="deleteItem(item.id,'',parentIndex)"><img class="op-img" src="assets/img/prepare/delete_icon.png" default-src="assets/img/prepare/delete_icon.png" active-src="assets/img/prepare/delete_icon_active.png" title="删除"></span>
					</div>
				</div>
			</div>
			<div class="list-item list-no-res" ng-show="list.children.length == 0">
				<img src="assets/img/prepare/add_res.png" />
				<i ui-sref="systemres">系统资源</i>
				<i ng-click="uploadRes(list.id, $index)">本地资源</i>
				<!-- 上传模态框 -->
				<div data-ng-include="'/coms/layout/modal/modal/upload-modal.html'"></div>
			</div>
		</div>
	</div>
	<!--<div class="coms-pagination">
		 	<uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize"  boundary-link-numbers="true" previous-text="上一页" next-text="下一页"></uib-pagination>
			<div class="page-go">
				<span class="page-text">转到</span>
				<input class="page-input"/>
				<span class="page-go-btn">Go</span>
			</div>
		</div> -->
</div>