<div id="header">
	<div class="header-top container">
		<img class="logo" src="assets/images/logo.png" />
		<ul class="message">
			<li><a href="#">消息</a></li>
			<li><a href="#">帮助中心</a></li>
			<li><a href="#">退出</a></li>
		</ul>
	</div>
	<div class="container banner"><img src="assets/images/banner.png" /></div>

	<div class="banner-footer">
		<div class="banner-footer-header"></div>
		<div class="banner-footer-footer"></div>
	</div>
	<div class="main-nav nav-pills">
		<div class="container">

			<ul class="nav">
				<li><a href="#">系统资源</a></li>
				<li><a href="#">校本资源</a></li>
				<li><a href="#">区本资源</a></li>
				<li><a href="#">学生学习空间</a></li>
				<li><a href="#">资源定制</a></li>
				<li><a href="#"><img src="assets/images/profile.png"/>个人中心</a></li>
				<li><a href="#"><img src="assets/images/shopcart.png"/>备课夹</a></li>
			</ul>
		</div>
	</div>
</div>