@charset "utf-8";
*{
	margin:0px auto;padding:0px;
	font-family: "微软雅黑";
}
#rollLine{
	height: 30px;
	width: auto;
}
.showCode
{
	border: 2px solid #ddd;
	padding: 3px 15px;
	text-align: center;
	letter-spacing: 2px;
	margin-left: 15px;
}
.showBox
{
	display: none;
}
.rollBox{
	width: auto;
	height: 30px;
	background-color: #EDEDED;
	border: 1px solid #C1C0C0;
	text-align: center;
	font-family: "微软雅黑";
}

.rollli{
	text-align: center;
}
.rollBox a{
	color: #000000;
	line-height: 30px;
	text-align: center;
}
.rollBox a:link{
	color: #000000;
	text-decoration: none;
}
.rollBox a:hover{
	color: #16A085;
	text-decoration: none;
}
.rollBox a:active{
	color: #16A085;
}

#lineOne{
	width:auto;
	height:85px;
	border:0px solid black;
	background:#ffffff;
}
#lineTwo{
	width:auto;
	height:364px;
	border:0px solid black;
	background:#2587BB;
}
#lineThree{
	width:auto;
	height:364px;
	border:0px solid black;
	background:#F7F7F7;
}
#lineFour{
	width:auto;
	height:auto;
	border:0px solid black;
	background:#58A2D9;
}
#lineFive{
	width:auto;
	height:120px;
	border:0px solid black;
	background:#606060;
}
#headLogo{
	width:1200px;
	height:85px;
	border:0px solid black;
	background:#ffffff;
	text-align: left;
	}
#logoLeft{
	width: 400px;
	margin: 5px;
}
#logoLeft img{
	height: 85px;
}
.nr{
	width:1200px;
	height:364px;
	border:0px solid black;
	text-align: left;
	}
#one{
	height: 377px;
	width: 100%;
	background-color: #52BBB7;
	text-align: center;
}
#two{
	height: 377px;
	width: 100%;
	background-color: #F7E895;
	text-align: center;
}
#three{
	height: 377px;
	width: 100%;
	background-color: #8DC7EC;
	text-align: center;
}
#slides{
	position:relative; 
	width: 850px;
	height: 100%;
	margin: 0;
	margin-left: 5px;
	float: left;
	overflow:hidden;
}

.loginBox{
	width: 330px;
	height: 100%;
	margin: 0px 0px;
	float: left;
	background-color: #123587;
}

.inputContainer{
	position: relative;
}
.inputContainer img{
	position: absolute;
	left:25px;
	top:4px;
	width:25px;
}

#userSelect{
	width: 304px;
	height: 70px;
	background-color: #16A085;
	margin:0px 15px;
}

.userli{
	background-color: #828282;
	color: #FFFFFF;
	width: 98px;
	height: 60px;
	margin-right: 3px;
	float: left;
	list-style: none;
	text-align: center;
	line-height: 60px;
	font-size: 22px;
	font-weight: 100;
	letter-spacing: 14px;
	text-indent: 5px;
	cursor: pointer;
}

#managerli{
	letter-spacing: 3px;
}
.userActive{
	background-color: #16A085;
}

.loginInfo{
	width: 303px;
	height: 287px;
	background-color: #FFFFFF;
	margin:0px 15px;
}

.contentBox{
	width: 280px;
	margin-bottom: 15px;
	padding-top: 35px;
}
.contentBox a{
	color: #000000;
	text-decoration: none;;
}
.contentBox a:link{
	color: #000000;
	text-decoration: none;
}
.contentBox a:hover{
	color: #16A085;
	text-decoration: none;
}
.contentBox a:active{
	color: #16A085;
}

.loginInfo input{
	width: 200px;
	height: 28px;
	margin-left: 20px;
	margin-bottom: 10px;
	font-size: 16px;
	border-color: #DDDDDD;
	border-style: solid;
	padding-left: 30px;
}

.loginInfo label{
	font-size: 16px;
}
.loginInfo a{
	margin-left:30px;
	font-size: 16px;
}
#checkBox{
	width: 15px;
	height: 15px;
	margin-right: 10px;
	margin-top: 15px;
}
#checkFlag{
	width: 15px;
	height: 15px;
	margin-right: 10px;
	margin-top: 15px;
	padding-left:0px;
	border:none;
}
#validCode{
	width: 123px;
	margin-right: 5px;
	padding-left: 5px;
}

.loginBtn{
	width: 100px;
	height: 30px;
	text-align: center;
	letter-spacing: 19px;
	text-indent: 20px;
	/*margin-top: 45px;*/
	margin-left: 36px;
	font-size: 16px;
	background-color: #16A085;
	color: #FFFFFF;
	border-radius: 5px;
	padding-top: 5px;
	cursor: pointer;
}
.registerBtn{
	width: 100px;
	height: 30px;
	text-align: center;
	letter-spacing: 19px;
	text-indent: 20px;
	margin-top: -35px;
	margin-left: 165px;
	font-size: 16px;
	background-color: #16A085;
	color: #FFFFFF;
	border-radius: 5px;
	padding-top: 5px;
	cursor: pointer;
	float: left;
}
.loginBtn:hover,.registerBtn:hover{
	background-color: #6cc6e9;
}
.videoBox{
	width: 428px;
	height: 349px;
	margin: 5px 5px;
	float: left;
	cursor: pointer;
	margin-top: 50px;
}

.textBox{
	width: 380px;
	height: 349px;
	margin: 5px 5px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
	float: left;
}
.textContent{
	width: 330px;
	height: 300px;
	margin-top: 50px;	
	margin-left: 35px;
}
.textContent h5{
	 font-weight: 200;
	 font-size: 26px;
	 margin-bottom: 15px;
}

.textContent a{
	 font-size: 16px;
	 font-weight: 100;
}

.textContent p{
	letter-spacing: 5px;
	font-size: 17px;
	line-height: 30px;
}



.statisticBox{
	width: 360px;
	height: 349px;
	margin: 5px 5px;
	float: left;
}
.staticticContent{
	width: 310px;
	height: 260px;
	margin:40px 40px;
	border: 1px solid #B2BCC5;
	background-color: #E5E9EA;
}
.staticticContent h5{
	font-weight: 200;
	font-size: 24px;
	padding-top: 10px;
	padding-left: 20px;
}
.staticticContent p{
	font-size: 14px;
	padding-left: 30px;
	padding-top: 20px;
}
.staticticContent a{
	color: #FF0000;
}

.footBox{
	width: 1200px;
	height: 120px;
}
.footTextBox{
	padding-top: 20px;
	width: 950px;
	height: 100px;
}

.footInfo{
	font-size:12px;
	color:#ffffff;
	border:0px solid black;
	text-align: center;
	margin-bottom: 0px;
}
