<div id="customres-container">
	<div class="custom_types">

		<div class="row">

			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<p class="type_name">动画定制</p>
					<img src="../../../assets/img/custom/play.png" alt="动画定制">
					<div class="caption">
						<p class="type_des">根据需求为您量身定制教学动画，让你的课堂更加生动。</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<p class="type_name">课件定制</p>
					<img src="../../../assets/img/custom/shiyan.png" alt="课件定制">
					<div class="caption">
						<p class="type_des">专业技术人员，为您定制课件，让您的课堂更精彩。</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<p class="type_name">微课定制</p>
					<img src="../../../assets/img/custom/miclesson.png" alt="微课定制">
					<div class="caption">
						<p class="type_des">名师指导，为您定制微课，让您的课堂有声有色</p>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="subject_box">
		<div class="loading" ng-show="VM.load"><i class="icon-spinner icon-spin icon-3x"></i></div>

		<div class="prepare-all-list" ng-repeat="subject in VM.resource track by $index">
			<div class="prepare-all-header">
				<img class="res-custom-header-img" src="assets/img/custom/head.png" />
				<img class="res-custom-header-subject" ng-src="assets/img/custom/{{$index+1}}.png" />
				<span class="subject">{{subject.subject.name}}</span>
				<!--<div class="coms-pagination">
					<uib-pagination total-items="VM.bigTotalItems[$index]" ng-model="VM.bigCurrentPage[$index]" max-size="maxSize" boundary-link-numbers="true" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="pageChanged($index)"></uib-pagination>
					<div class="page-go">
						<span class="page-text" ng-click="pageChanged($index,VM.pageTo[$index])">转到</span>
						<input class="page-input" ng-model="VM.pageTo[$index]"/>
						<span class="page-go-btn">Go</span>
					</div>
				</div>-->
			</div>
			<div class="prepare-gallery row">
				<div class="list-all-item col-md-3" ng-repeat="item in subject.list">
					<div class="item_inner">
						<a class="img-thumb"  ui-sref="previewres({resId:item.resId,curTfcode:'',fromFlag:VM.fromFlag,search:'person',type:0,back:'custom'})" target="_blank">
						  <img class="res-list-thumb" ng-src="{{item.imgPath?item.imgPath:'null'}}" fallback-src="{{item.fileSuffix | lowercase}}"/>

						</a>
						<div class="list-all-title text-ellipsis" ui-sref="previewres({resId:item.resId,curTfcode:'',fromFlag:VM.fromFlag,search:'person',type:0,back:'curtom'})">{{item.unifyType}}：{{item.title}}</div>
						<div class="btnBox">
							<span class="download" ng-click="resDownload(item.resId)">立即下载</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	
		
		
		
		
	</div>
</div>
</div>