<div class="container" id="res-container">
	<!--header导航-->
	<div data-ng-include="'/coms/layout/views/res/res-header.html'"></div>
	<!--左侧目录-->
	<div class="col-md-3 catalog" ng-hide="noTreeData">
		<div class="catalog-header"></div>
		<div class="catalog-content">
			<div class="catalog-tip">
				<img src="assets/img/catalog/catalog-tip.png">
				<div class="catalog-text">{{currentVersion.name == '课标版'?'课标导航':'章节目录'}}</div>
			</div>
			<div class="catalog-tree" data-ng-include="'/coms/tree/views/tree.html'"></div>
		</div>
	</div>
	<!--右侧资源列表-->
	<div class="col-md-9" data-ng-include="'/coms/layout/views/res/res-content.html'"  ng-hide="noTreeData"></div>
	<!-- 无资源时显示-->
	<div class="col-md-12 noTreeData" ng-show="noTreeData">
		<img src="assets/img/notreedata.jpg"
	</div>
</div>

<!-- 加入收藏夹  -->
<div data-ng-include="'/coms/layout/views/prepare/prepare-add.html'"></div>
