<!--系统资源页头部-->
<div class="res-header" ng-controller="SystemResHeaderController">
	<!-- 选择 导航 展示-->
	<div class="left-tips">您已选择：</div>
	<div class="select-nav-item">
		<div class="menu-drop">
			<div class="trigger">
				<span class="select-current" href="">{{VM.currentGrade}}</span>
				<i class="icon-angle-down"></i>
				<i class="icon-angle-up"></i>
			</div>
			
			<div class="menu-drop-main">
				<ul class="menu-drop-list">
					<li ng-repeat="grade in VM.grade track by $index" ng-class="VM.currentGradeSeclet[$index]?'selected':''" ng-click="VM.selectGrade($index)"><span>{{ grade }}</span></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="seperate-right"><i class="icon-angle-right"></i></div>
	<div class="select-nav-item">
		<div class="menu-drop">
			<div class="trigger">
				<span class="select-current">{{VM.currentSubject}}</span>
				<i class="icon-angle-down"></i>
				<i class="icon-angle-up"></i>
			</div>
			
			<div class="menu-drop-main">
				<ul class="menu-drop-list">
					<li ng-repeat="subject in VM.subject track by $index" ng-class="VM.currentSubjectSeclet[$index]?'selected':''" ng-click="VM.selectSubject($index)"><span>{{ subject }}</span></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="seperate-right" ng-show="VM.currentVersionShow || VM.currentVersionTmpShow"><i class="icon-angle-right"></i></div>
	<div class="select-nav-item"  ng-show="VM.currentVersionShow || VM.currentVersionTmpShow">
		<div class="menu-drop">
			<div class="trigger" ng-click="closeCurrentVersion()">
				<span class="select-current" href="">{{VM.currentVersion}}</span>
				<i class="icon-remove"></i>
			</div>
		</div>
	</div>
	<div class="seperate-right" ng-show="VM.currentMaterialShow"><i class="icon-angle-right"></i></div>
	<div class="select-nav-item"  ng-show="VM.currentMaterialShow">
		<div class="menu-drop">
			<div class="trigger" ng-click="closeCurrentMaterial()">
				<span class="select-current" href="">{{VM.currentMaterial}}</span>
				<i class="icon-remove"></i>
			</div>
		</div>
	</div>
	
	<!--<i class="icon-angle-right"></i>
	<a class="select-tips">全部</a>-->
	<div class="res-filter">
		<!--<label class="right-label">收起筛选</label>-->
		<input class="res-search" type="search" placeholder="在当前条件下搜索" />
		<span class="res-search-btn">
			<i class="icon-search"></i>	   
		</span>
	</div>
</div>

<!--筛选主内容 -->
<div class="res-navbody">
	<div class="res-body-content res-grade" ng-hide="VM.currentHeader">
		<span class="res-content-left">学段:</span>
		<span class="select-item res-grade-content" ng-repeat="grade in VM.grade track by $index" ng-class="VM.currentGradeSeclet[$index]?'selected':''" ng-click="VM.selectGrade($index)">{{ grade }}</span>
	</div>
	<div class="res-body-content res-subject" ng-hide="VM.currentHeader">
		<div class="res-content-left">学科:</div>
		<div class="res-subject-wrapper"> 
			<span class="select-item res-subject-content" ng-repeat="subject in VM.subject track by $index" ng-class="VM.currentSubjectSeclet[$index]?'selected':''" ng-click="VM.selectSubject($index)">{{ subject }}</span>
		</div>
		<!--<span class="res-more">
		   	<a>更多<i class="icon-angle-down"></i></a>
		</span>-->
	</div>
	<div class="clearfix"></div>
	<div class="res-body-content res-material-version" ng-hide="VM.currentVersionShow">
		<div class="res-content-left">版本:</div>
		<span ng-repeat="v in VM.version track by $index" class="select-item res-material-content" ng-click="VM.selectVersion($index)">{{ v }}</span>
	</div>
	<div class="clearfix"></div>

	<div class="res-body-content res-material-version" ng-hide="VM.currentMaterialShow || !VM.currentVersionShow">
		<div class="res-content-left">教材:</div>
		<span ng-repeat="v in VM.material track by $index" class="select-item res-material-content" ng-click="VM.selectMaterial($index)">{{ v }}</span>
	</div>
	<div class="res-content-footer" ng-hide="VM.currentMaterialShow">
		<img src="assets/img/res-nav-footer.png">
		<div></div>
	</div>
	<div class="clearfix"></div>
</div>